<p-toast aria-live="polite"></p-toast>

@if (isLoading()) {
<section aria-labelledby="categories-heading">
  <div class="categories-scroll-container" tabindex="0" aria-label="Categories carousel">
    <div class="categories-scroll-wrapper" role="list">
      @for (item of [1, 2, 3, 4 ,5 ,6 ,7]; track $index) {
      <div class="category-card light-pink-bg" role="listitem">
        <div class="category-icon" aria-hidden="true">
          <p-skeleton width="3.12rem" height="3.12rem" shape="circle"></p-skeleton>
        </div>
        <div class="category-content">
          <p-skeleton width="6rem" height="1rem"></p-skeleton>
          <p-skeleton width="4rem" height="1rem"></p-skeleton>
        </div>
      </div>
      }
    </div>
  </div>
</section>
} @else if (hasError()) {
<div class="p-3 flex justify-content-center" aria-live="assertive">
  <p role="alert">{{ "home.categories.error" | translate }}</p>
</div>
} @else {
<section [@fadeTransition]="translationService.fadeState()" aria-labelledby="categories-heading">
  <div class="categories-scroll-container" tabindex="0" aria-label="Categories carousel">
    <div class="categories-scroll-wrapper" role="list">
      @for (category of categories(); track $index) {
      <div class="category-card light-pink-bg" role="listitem">
        <div class="category-icon" aria-hidden="true">
          <img [ngSrc]="category.image" [alt]="category.name + ' category icon'" class="category-img" width="56"
            height="56" loading="lazy" decoding="async" />
        </div>
        <div class="category-content">
          <span class="category-name">{{ category.name }}</span>
          <span class="category-count">
            {{ category.productsCount }}
            <span [ngPlural]="category.productsCount">
              <ng-template ngPluralCase="=1">item</ng-template>
              <ng-template ngPluralCase="other">items</ng-template>
            </span>
          </span>
        </div>
      </div>
      } @empty {
      <div class="p-3 flex justify-content-center no-categories" aria-live="polite">
        <p role="status" aria-live="polite" class="no-results-message">
          <app-no-data-available />
        </p>
      </div>
      }
    </div>
  </div>
</section>
}