<div class="password-form-container">
  <div class="password-form-wrapper">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="password-form">
      <!-- Current Password -->
      <div class="form-group">
        <label for="password">{{
          "user-Profile.changePasswordForm.oldPassword" | translate
        }}</label>
        <lib-custom-input
          formControlName="password"
          type="password"
          placeholder="********"
          id="password"
          [errorHandilgControl]="changePasswordForm.get('password')!"
          autocomplete="current-password"
          aria-required="true"
        />
      </div>

      <div class="divider"></div>

      <!-- New Password -->
      <div class="form-group">
        <label for="newPassword">{{
          "user-Profile.changePasswordForm.newPassword" | translate
        }}</label>
        <lib-custom-input
          formControlName="newPassword"
          type="password"
          placeholder="********"
          id="newPassword"
          [errorHandilgControl]="changePasswordForm.get('newPassword')!"
          autocomplete="new-password"
          aria-required="true"
        />
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label for="rePassword">{{
          "user-Profile.changePasswordForm.confirmNewPassword" | translate
        }}</label>
        <lib-custom-input
          formControlName="rePassword"
          type="password"
          placeholder="********"
          id="rePassword"
          [errorHandilgControl]="changePasswordForm.get('rePassword')!"
          autocomplete="new-password"
          aria-required="true"
        />
      </div>

      @if (changePasswordForm.hasError("misMatch") && this.changePasswordForm.invalid) {
        <p class="error-item">
          <i class="pi pi-delete-left"></i> {{ "inputErrors.misMatch" | translate }}
        </p>
      }
    </form>
  </div>
</div>
