.input-wrapper {
  position: relative;
}
.eye-btn {
  background: transparent;
  border: none;
  position: absolute;
  right: .625rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.input-wrapper {
  position: relative;
  .input-style {
    border: .0625rem solid var(--input-border-color);
    border-radius: .625rem;
    padding: 1rem;
    padding-right: 2.75rem; 
    background: var(--input-color);
    color: var(--input-text-color);
    transition: border-color 0.2s;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
  }
}

:host ::ng-deep .input-style::placeholder {
  color: var(--input-placeholder-color);
}

.input-style:focus {
  outline: none;
  border-color: var(--border-active-color);
  box-shadow: 0 0 0 2px var(--border-active-color);
}

.password-eye {
  font-size: 1.3rem;
  color: var(--input-text-color);
}

.label-color {
  color: var(--label-color);
}

:host-context([dir="rtl"]) .eye-btn {
  right: calc(100% - 4.375rem);
}
