<div class="flex flex-column gap-2">
  <label [for]="id()" class="label-color">{{ labelText() }}</label>
  <div class="input-wrapper">
    <input
      [id]="id()"
      [type]="inputType"
      [placeholder]="placeholder()"
      [value]="value"
      (input)="handleInput($event)"
      (blur)="onTouched()"
      required
      class="input-style"
      style="flex: 1"
    />
    <button
      *ngIf="type() === 'password'"
      type="button"
      (click)="toggleShowPassword()"
      tabindex="-1"
      class="eye-btn"
    >
      <span *ngIf="!showPassword"><i class="pi pi-eye password-eye"></i></span>
      <span *ngIf="showPassword"><i class="pi pi-eye-slash password-eye"></i></span>
    </button>
  </div>
</div>
