.country-list ul {
  list-style: none;
  margin: 0;
  padding: 8px;
}
.input-phone-container {
  display: flex;
  align-items: center;
  background: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 10px;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.country-select {
  font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI', 'Arial', sans-serif;
  background: transparent !important;
  border: none;
  color: var(--input-text-color);
  font-size: 1rem;
  margin-right: 0.5rem;
  min-width: 110px;
  outline: none;
  appearance: none;
  height: 100%;
  border-radius: 10px;
}

.country-select:focus {
  outline: none;
}

.phone-input {
  background: transparent;
  border: none;
  color: var(--input-text-color);
  font-size: 1rem;
  flex: 1;
  outline: none;
  height: 100%;
}

.input-phone-container:focus-within {
  border-color: var(--maroon-700,);
  box-shadow: 0 0 0 2px var(--maroon-700, 0.2);
}

.country-select::-ms-expand {
  display: none;
}
.country-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.country-select option {
  background: var(--input-color) !important;
  color: var(--input-text-color);
  padding: 15px;
}

.label-color{
  color: var(--label-color);
}



// country drop down


.custom-country-dropdown {
  position: relative;
  min-width: 7.5rem;
}
.selected-country {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  color: var(--selected-color-input);

}
.country-flag {
  width: 20px;
  height: 15px;
  margin-right: 8px;
  border-radius: 50%;
}
.country-list {
  position: absolute;
  top: 115%;
  left: -10%;
  width: 100%;
  background: var(--input-color);
  color: var(--input-text-color);
  border-radius: 10px;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 6rem;
}
.country-item {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
}
.country-item:hover {
  color: var(--soft-pink-600);
}





