//    #form-wrapper {
//     border-top: .0625rem solid var(--zinc-300);
//     border-bottom: .0625rem solid var(--zinc-300);
//     padding: 1.5rem 0 0;
//    }
   
   // TITLE
//    h1 {
//        font-weight: 600;
//        font-size: 1.5rem;
//        text-align: left;
//        color: var(--forget-pass-title);
//        margin-bottom: 0;
//    }
//    p {
//     font-weight: 400;
//        font-size: 1rem;
//        text-align: left;
//        color: var(--forget-pass-title);
//        margin-top: 0;

//        span{
//         font-weight: 500;
//         font-size: 1rem;
//         color: var(--edit);
//         text-decoration: underline;
//         cursor: pointer;
//        }
//    }

   // Send Code
   h5.sendCode {
       font-weight: 600;
       font-size: .875rem;
       text-align: right;
       color: var(--forgetPass-anchor);
       margin: .625rem 0 0;
   }

   :host-context([dir="rtl"]) h5 {
    text-align: left !important;
}

    // Login
//     h3 {
//         font-weight: 500;
//         font-size: .875rem;
//         text-align: center;
//         color: var(--register-anchor);
//         margin-bottom: 2.5rem;

//         span {
//             font-weight: 700;
//             color: var(--register-span-anchor);
//         }
//     }

//    :host-context([dir="rtl"]) h5 {
//     text-align: left;
//    }