   <app-auth [@fadeTransition]="translationService.fadeState()" 
      [process]="'forgetPass'"
   [title]="getDetails().title"
   [titleParagraph]="getDetails().titleParagraph"
   [paragraphSpan]="forgetFlow === 'verify' ? getDetails().paragraphSpan! : ''"
   [heading5]="forgetFlow === 'verify' ? getDetails().heading5! : ''"
   [heading3]="getDetails().heading3"
   [heading3span]="getDetails().heading3span">

    <!-- Forget Pass -->
      @if (forgetFlow === 'forget') {
         <div class="flex-col ">
         <input type="text" class="block w-full">
         <input type="text" class="block w-full">
         <app-form-button (click)="shiftFlow()" [text]="'auth.forget-pass.button' | translate"></app-form-button>
      </div>
      }

   <!-- Verify OTP -->
      @else if (forgetFlow === 'verify') {
            <div class="flex-col ">
         <input type="text" class="block w-full">
         <input type="text" class="block w-full">
         <h5 class="sendCode">{{ 'auth.verify.h5'|translate }}</h5>
         <app-form-button (click)="shiftFlow()" [text]="'auth.verify.button' | translate"></app-form-button>
      </div>
      }

   <!-- Create New Pass -->
   @else {
         <div class="flex-col ">
         <input type="text" class="block w-full">
         <input type="text" class="block w-full">
         <app-form-button (click)="shiftFlow()" [text]="'auth.reset.button' | translate"></app-form-button>
      </div>
   }
</app-auth>
