
button{
    display: block;
    color: var(--white);
    background-color: var(--persian-rose);    
    border: none;
    box-shadow: 0px 0px 37.28px 4.66px #0000000D;
    font-family: var(--font-family-2);     
    font-weight: 500;
    font-size: .9319rem;
    line-height: 1.6775rem;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    &:hover{
        background-color: var(--hover-persian-rose);
    }
}

// gifts left image
.btn-topLeft-padding{
       padding: .5rem;

    // large screen 992px
    @media all and (min-width: 62rem) {
        padding: .4075rem .8738rem;
    }
}

// gifts carousel
.btn-carousel-padding{
       padding: .5rem;

    // large screen 992px
    @media all and (min-width: 62rem) {
        padding: .5825rem 1.165rem;
    }
}

// gifts top part
.btn-roundedBorderRadius{
      border-radius: .2544rem;

    // large screen 992px
    @media all and (min-width: 62rem) {
        border-radius: .5825rem;
    }
}

// gifts bottom-images
.btn-pillBorderRadius{
    border-radius: .625rem;

    // large screen 992px
    @media all and (min-width: 62rem) {
        border-radius: 1.25rem;
    }
}

.btn-bottom-padding{
    padding: .625rem 1.25rem;

    // large screen 992px
    @media all and (min-width: 62rem) {
        padding: .5rem;
    }
}