button{
    color: white;
    background-color: #F82BA9;     //add variable
    border: none;
    box-shadow: 0px 0px 37.28px 4.66px #0000000D;
    font-family: "Roboto", sans-serif;     // add variable
    font-weight: 500;
    font-size: .9319rem;
    line-height: 1.6775rem;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
}