img.empty {
  width: 15.625rem;
  height: 13.375rem;
}

h2.empty {
  font-weight: 400;
  font-style: Regular;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--cart-text-color);
  text-align: center;
}
