#addresses {
  & {
    font-family: var(--font-family-1);
  }
  
  .address-card {
    padding: 14px 16px;
    border: 1px solid var(--card-border-color) ;
    background-color: var(--card-bg);
    border-radius: 5px;
    margin-bottom: 12px;
    .address-card-header {
      font-size: 24px;
    }
    .phone  {
      .phone-num {
        font-size: 18px;
        color: var(--address-card-phone-color);
      }
      .phone-icon {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-color: var(--address-phone-bg);
        color: white;
      }
    }
    .address-details  {
      span {
         padding: 4px 12px;
         background-color: var(--address-card-details-bg);
         border-radius: 15px;
      }
    }
    & {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }



  &.active {
    background-color: var(--address-card-bg);
      color: var(--address-card-text-color);
      .phone  {
      .phone-num {
        color: var(--address-card-text-color);
      }
      .phone-icon {
        background-color: var(--icon-hover-bg);
        color: var(--icon-hover-color);

      }
      }
    .address-details  {
      span {
        background-color: var(--address-card-details-hover-bg);
      }
    }
  }





}
.or {
    span {
      font-size: 18px;
      margin: 12px 0px;
      color:var(--card-header-color);
    }
  }



}


:host ::ng-deep app-button button {
  width: 100%;
  background-color: var(--address-btn-bg);
  border-radius: 10px;
  padding: 14px 16px;
  margin-top: 36px;
  transition: all 0.5s ease-in-out;
  color: var(--address-btn-color);
  &:hover {
    color: white;
  }
}
