<p-dialog [(visible)]="visible" [modal]="true"
  [style]="{ width: '474px', borderRadius: '16px', textAlign: 'center' , border: 'none' , backgroundColor: 'var(--confirm-dialog-bg)'}"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }" [draggable]="false" [resizable]="false">

  <div class="dialog-container">
    <!-- Body content -->
    <div class="dialog-body">
      <div class="icon-circle">
        <div class="outer-circle">
          <div class="inner-circle">
            <i class="pi pi-trash"></i>
          </div>
        </div>
      </div>
      <p class="dialog-title">{{ message }}</p>
      <p class="dialog-sub">{{ subMessage }}</p>
    </div>
    <div class="dialog-actions">
      <p-button type="button" [label]="cancelLabel" (click)="onCancel()" styleClass="cancel-btn"></p-button>
      <p-button type="button" [label]="confirmLabel" (click)="onConfirm()" styleClass="confirm-btn"></p-button>
    </div>
  </div>

</p-dialog>