<section>
  <div class="heading mt-8">
    <div class="p-relative d-inline-block wishlist-title-wrapper mb-3">
      <h2 id="wishlist-heading" class="wishlist-title" itemprop="name">
        {{ "favourites.title" | translate }}
      </h2>
      <div class="wishlist-bg-shape" aria-hidden="true"></div>
      <div class="wishlist-underline-bar" aria-hidden="true"></div>
    </div>
  </div>
  <div class="grid">
    @for (item of favouriteItems(); track $index) {
      <app-card-item [productInfo]="item" class="col-12 md:col-6 lg:col-3" />
    }
  </div>
</section>
