.profile-container {
  width: 80rem;
  margin: 2.25rem auto 18.9375rem auto;
  .sidebar-title {
    color: var(--user-profile-sidebar-title);
    font-family: var(--font-family-4);
    font-size: 3rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 2.25rem;
  }

  .sidebar {
    width: 18.6875rem;
    padding: 1rem;
    background: var(--user-profile-sidebar-bg);
    border: 0.0625rem solid var(--user-profile-sidebar-border) !important;
    border-radius: 1rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;

    .sidebar-menu {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      margin-bottom: auto;

      .menu-item {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 0.95rem;
        color: var(--user-profile-sidebar-menu-item-color);
        transition: all 0.2s;

        i {
          font-size: 1rem;
        }

        &.active {
          background-color: var(--user-profile-sidebar-menu-item-bg-active);
          color: var(--user-profile-sidebar-menu-item-color-active);
          font-weight: 500;
          box-shadow: 0 0.0625rem 0.1875rem var(--shadow-black-opacity);
        }

        &:hover:not(.active) {
          background: var(--user-profile-sidebar-menu-item-hover);
        }
      }
    }

    .logout-btn {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--user-profile-sidebar-menu-item-btn-logout-bg);
      border: none;
      border-radius: 0.5rem;
      color: var(--user-profile-sidebar-menu-item-btn-logout-color);
      font-family: var(--font-family-4);
      font-weight: 500;
      font-size: 1rem;
      line-height: 100%;
      cursor: pointer;
      padding: 1rem;
      transition: all 0.3s ease;

      i {
        font-size: 1rem;
        transform: rotate(180deg);
      }

      &:hover {
        background-color: var(--user-profile-sidebar-menu-item-btn-logout-hover);
      }
    }
  }
}

/* Mobile Header */
.mobile-header {
  justify-content: space-between;
  align-items: center;
}

.icon-group {
  display: none;
  gap: 1rem;

  i {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.2s;
    color: var(--user-profile-sidebar-menu-item-mobile-color);

    &:hover {
      background-color: var(--user-profile-sidebar-menu-item-mobile-hover);
    }

    &.active {
      color: var(--user-profile-sidebar-menu-item-mobile-active-color);
    }
  }
}

/* Responsive Adjustments */
@media (max-width: 1183px) {
  .profile-container {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }

  .sidebar {
    display: none !important;
  }

  .content-area {
    width: 100%;
    padding: 1rem;
  }

  .mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .icon-group {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .profile-container {
    padding: 0;
    .sidebar {
      display: none;

      .sidebar-menu {
        gap: 0.5rem;

        .menu-item {
          padding: 0.5rem 0.75rem;
          font-size: 0.875rem;
        }
      }
    }

    .content-area {
      width: 100%;
      padding: 1rem;
    }

    .sidebar-title {
      font-size: 2rem;
    }
  }

  .mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .icon-group {
      display: flex;
    }
  }
}

@media (min-width: 993px) {
  .profile-container {
    min-height: calc(100vh - 8rem);
    .sidebar {
      height: auto;
    }
  }
}

/* Accessibility */
[tabindex]:focus-visible {
  outline: 0.125rem solid var(--zinc-200);
  outline-offset: 0.125rem;
}
