// @use "/apps/rose/src/app/shared/styles/variables";
.review-form {
  &{
    border-right: 1px solid #E4E4E7;
  }
  label,
  .rateLabel {
    font-size: 14px;
    color: var(--label-color);
  }

  .field :last-child {
    padding: 16px !important;
    border-radius: 10px;
    background-color: var(--input-bg) !important;
    color: var(--input-text-color);
    border: var(--input-border-color);


    &::placeholder {
      text-transform: capitalize;
    }
  }
}
