// @use "/apps/rose/src/app/shared/styles/variables";
.review-form {
  & {
    border-right: 1px solid #e4e4e7;
  }
  label,
  .rateLabel {
    font-size: 14px;
    color: var(--label-color);
  }

  .field :last-child {
    padding: 16px !important;
    border-radius: 10px;
    background-color: var(--input-bg) !important;
    color: var(--input-text-color);
    border: var(--input-border-color);

    &::placeholder {
      text-transform: capitalize;
    }
  }

  .review {
    background-color: var(--btn-shared-background);
    color: var(--btn-shared-color);
    transition: all 0.3s;
  }
  .review:hover {
    background-color: var(--btn-shared-background-hover);
  }
}
