#data-view {
  & {
    background-color: var(--view-bg);
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px;
  }
  .header {
    h2 {
      font-size: 24px;
      font-family: var(--font-family-1);
    color: var(--view-text);


    }
  }
  .data-table {
    margin: 18px 0px;
  }
}

