<form
  [formGroup]="forgetPassForm"
  (ngSubmit)="forgetpasswordSubmit()"
  role="form"
  aria-label="Forgot Password Form"
>
  <!-- Email -->
  <lib-custom-input
    formControlName="email"
    type="text"
    placeholder="user@example.com"
    id="email"
    labelText="{{ 'auth.inputs.email' | translate }}"
    [errorHandilgControl]="forgetPassForm.get('email')!"
    class="w-full mb-3"
    autocomplete="email"
    aria-required="true"
  />

  <lib-form-button
    [text]="'auth.forget-pass.button' | translate"
    [disabled]="forgetPassForm.invalid"
    [isLoading]="isLoading()"
    type="submit"
  />
</form>
