// @use "/apps/rose/src/app/shared/styles/variables";
.review-item {
  .review-owner {
    .owner-photo {
      span {
        display: inline-block;
        width: 45px;
        height: 45px;
        background-color: #A6252A;
        color: white;
        font-size: 20px;
        border-radius: 50%;
      }

    }

    .date {
      color: #A1A1AA;
      font-size: 14px;
    }
  }
}
