.custom-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    color: var(--dark-blue);

    select {
        /* For Safari */
        -webkit-appearance: none;
        /* For Firefox */
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        font-family: var(--font-family-2);
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.8rem;
        vertical-align: middle;
        text-transform: capitalize;
        padding: 12px;
        min-height: 50px;
        color: var(--dark-blue);
    }

}
.active,i{
  color: var(--persian-rose);
}

