.navbar-container {
  width: 100%;
  max-width: 100%;
  background-color: var(--background-navbar);
  position: relative;
  z-index: 1000;
  margin-top: 10px;

  .first-row {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.25rem 2.25rem;
    background-color: inherit;
    gap: 1rem;

    .logo-section {
      display: flex;
      align-items: center;
      min-width: max-content;

      .logo-img {
        width: 85px;
        height: 80px;
      }

      .location {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        .location-header {
          color: var(--color-navbar-text);
          font-family: var(--font-family-4);
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1;
          white-space: nowrap;
        }

        .location-content {
          display: flex;
          align-items: center;
          gap: 0.375rem;
          color: var(--color-navbar-highlight);
          font-family: var(--font-family-4);
          font-weight: 500;
          font-size: 1rem;
          line-height: 1;
          margin-top: 0.25rem;
        }
      }
    }

    .search-section {
      width: 100%;
      display: flex;
      align-items: center;

      p-iconfield {
        display: flex;
        flex: 1;
        width: 100%;
      }

      .search-input {
        flex: 1;
        width: 100%;
        padding: 0.75rem 2rem 0.75rem 2.4375rem;
        border: 1px solid var(--color-navbar-input-border);
        background-color: var(--background-navbar-input);
        color: var(--color-navbar-input-text);
        font-family: var(--font-family-4);
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 100%;
        transition: all 0.3s ease;
        border-radius: 0.625rem;

        &::placeholder {
          color: var(--color-navbar-input-text);
          font-family: var(--font-family-1);
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 100%;
        }

        &:focus-visible {
          outline: none;
          box-shadow: 0 0 0 2px var(--color-navbar-input-shadow);
          border-color: var(--color-navbar-input-shadow-border);
        }
      }

      .pi-search {
        position: absolute;
        left: 1rem;
        color: var(--color-navbar-input-text);
        pointer-events: none;
      }
    }

    .login-btn {
      background: none;
      border: none;
      cursor: pointer;
      color: var(--color-navbar-text);
      font-family: var(--font-family-4);
      font-weight: 400;
      font-size: 1rem;
      line-height: 100%;
      display: inline-flex;
      align-items: center;
      gap: 0.375rem;
      transition: all 0.3s ease;

      &:hover i,
      &:hover span {
        color: var(--color-hover-navbar-text);
      }
    }

    .icons-section {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      min-width: max-content;

      .pi {
        color: var(--color-icons-navbar);
        transition: all 0.3s ease;
        cursor: pointer;
        font-size: 1.25rem;
        padding: 0.5rem;
        border-radius: 50%;

        &:hover {
          color: var(--color-hover-icons-navbar);
        }
      }

      .p-overlaybadge {
        cursor: pointer;

        .pi {
          padding: 0;
        }
      }

      .smallNav-toggle {
        display: none;
      }
    }
  }

  .second-row {
    padding: 0.75rem 2rem;
    background-color: var(--background-navbar-second-row) !important;
    display: flex;
    justify-content: center;
    max-height: 2.75rem;

    .menu-bar {
      background: transparent !important;
      border: none !important;
      justify-content: center;
      padding: 0;

      ::ng-deep {
        .p-menubar {
          width: 100%;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent !important;
          padding: 0 !important;
        }
        .p-menubar-root-list {
          gap: 2rem;
          background-color: var(--background-navbar-second-row);
          border: none;
        }

        .p-menubar-item {
          margin: 0;
        }

        .p-menubar-item-content {
          border-radius: 0;
          transition: all 0.3s ease;

          &:hover {
            background: transparent !important;
          }

          .nav-items {
            text-align: center;
            background: transparent;
            color: var(--color-navbar-second-row);
            text-decoration: none;
            font-family: var(--font-family-4);
            font-weight: 500;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            position: relative;
            transition: all 0.3s ease;
            padding: 0.3312rem !important;

            &:hover {
              color: var(--color-hover-navbar-second-row);
            }

            &.active {
              color: var(--color-active-navbar-second-row);

              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.25rem;
                background-color: var(--color-underline-navbar-second-row);
              }
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  .user-greeting-btn {
    padding: 0;

    .p-splitbutton-button.p-button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      gap: 0.375rem;
      padding: 0;
      color: var(--color-arrow-user-navbar);
      font-family: var(--font-family-4);
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 100%;

      .user-name {
        color: var(--color-navbar-highlight) !important;
        font-weight: 500;
        font-size: 1rem;
        line-height: 100%;
      }
    }

    .p-splitbutton-dropdown.p-button {
      background: none;
      border: none;
      color: var(--color-arrow-user-navbar);
      display: flex;
      align-items: center;

      &:hover {
        color: var(--color-hover-arrow-user-navbar);
      }
    }

    .p-splitbutton {
      background: none;

      .p-button {
        background: none;
        border: none;
      }
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  color: var(--color-icons-navbar);
  border-right: 0.0625rem solid var(--color-border-icons-navbar);
  border-left: 0.0625rem solid var(--color-border-icons-navbar);
  padding: 0 0.8rem;
}

:host ::ng-deep .p-overlaybadge .p-badge {
  background-color: var(--background-badges-icons-navbar);
  color: var(--color-badges-icons-navbar);
  outline: none;
  top: 8px;
  right: 8px;
}

.toggle-menu {
  background: none;
  border: none;
  color: var(--color-icons-navbar);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--color-hover-icons-navbar);
  }
}

.search-icon button {
  color: var(--color-icons-navbar) !important;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  .pi {
    width: 1.875rem;
  }

  &:hover {
    color: var(--color-hover-icons-navbar) !important;
    background: none;
    border: none;
  }
}
/* Large screens adjustments */
@media (max-width: 1200px) {
  .navbar-container {
    .first-row {
      padding: 0.75rem 1.5rem;
      gap: 1.5rem;
    }
    .second-row {
      padding: 0.75rem 1.5rem;
    }
    .custom-badge {
      top: 15px;
    }
  }
}

/* Tablet & below (≤ 992px) → Hide search, location, second row */
@media (max-width: 992px) {
  .navbar-container {
    .first-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-section {
        display: none !important;
      }

      .location {
        display: none !important;
      }
      .icons-section {
        order: 2;
        gap: 0.75rem;

        .smallNav-toggle {
          display: block;
          margin-left: 0.5rem;
        }
      }
    }

    .second-row {
      display: none !important;
    }
  }
}

/* Mobile (≤ 768px) */
@media (max-width: 768px) {
  .navbar-container {
    .first-row {
      flex-wrap: nowrap;
      padding: 0.75rem 1rem;
      gap: 1rem;

      .logo-section {
        order: 1;

        .logo-img {
          width: 55px;
          height: 55px;
        }
      }

      .icons-section {
        order: 2;
        gap: 0.75rem;

        .smallNav-toggle {
          display: block;
          margin-left: 0.5rem;
        }
      }
    }
    .custom-badge {
      top: 2px;
    }
  }
}

/* Small mobile (≤ 480px) */
@media (max-width: 480px) {
  .navbar-container {
    .first-row {
      padding: 0.5rem;

      .logo-section .logo-img {
        width: 40px;
        height: 40px;
      }

      .icons-section {
        gap: 0.25rem;

        .pi {
          padding: 5px;
          font-size: 1rem;
        }
      }
    }
  }
  :host ::ng-deep .p-overlaybadge .p-badge {
    top: 2px;
  }
}

/* Ultra-small (≤ 350px) */
@media (max-width: 350px) {
  .navbar-container {
    .first-row {
      align-items: center;
      gap: 0.5rem;

      .icons-section {
        justify-content: center;
        gap: 0.4rem;
        .pi {
          padding: 5px;
          font-size: 1rem;
        }
      }
    }
  }
  :host ::ng-deep .p-overlaybadge .p-badge {
    top: 2px;
  }
}

/* Mobile Menu Styles */
:host ::ng-deep {
  .p-menubar-mobile .p-menubar-button {
    display: none !important;
  }

  .smallNav .p-dialog {
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: var(--background-navbar) !important;
    border: none;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;

    .p-dialog-header {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
      border: none;

      .p-dialog-header-actions .p-button {
        border: 2px solid var(--close-btn-border);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;

        .pi-times {
          color: var(--close-btn-color);
          font-size: 1rem;
          transition: all 0.3s ease;
        }
        &:hover {
          color: var(--close-btn-hover);
          border: 2px solid var(--close-btn-hover);
        }
      }
    }

    .p-dialog-content {
      padding: 2rem;
      height: calc(100% - 60px);

      .navList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
        margin: 0;
        color: var(--color-navbar-mobile);
        li a {
          color: var(--color-navbar-mobile);
          text-decoration: none;
          font-family: var(--font-family-4);
          font-weight: 500;
          font-size: 1.25rem;
          padding: 0.5rem 0;
          transition: all 0.3s ease;

          &:hover,
          &:active {
            color: var(--color-hover-navbar-mobile);
          }
        }
      }
    }
  }
}

.p-tieredmenu {
  background-color: red !important;
}
