<section>
    <div id="parent" class="flex flex-column justify-content-between  h-screen border-round-2xl">
        <div class="flex flex-row justify-content-between align-items-center">
            <div>
                <h1>{{'order-flow.cart.title' |translate}} <span>0 Products</span> </h1>
            </div>
            <div>
                <app-button [isBgMaroon]="false" [isTextWhite]="false" [text]="'order-flow.cart.clear-cart' |translate"
                    [padding]="'cart-padding'" [borderRadius]="'cart-radius'">
                    <img src="./images/cart/brush-cleaning.WebP" alt="clear cart">
                </app-button>
            </div>
        </div>


        <div id="content" class="flex flex-column justify-content-center align-items-center">
            <div>
                <img class="block" src="./images/cart/no-cart.WebP" alt="empty cart">
            </div>
            <div>
                <h2>{{ 'order-flow.cart.empty' |translate}}</h2>
            </div>
        </div>


        <div class="flex justify-content-start align-items-center">
            <app-button [rowReverse]="'flex flex-row-reverse align-items-center'" [backIcon]="true" [isBgMaroon]="true"
                [isTextWhite]="true" [text]="'order-flow.cart.continue-shopping' |translate" [padding]="'cart-padding'"
                [borderRadius]="'cart-radius'" />
        </div>
    </div>
</section>