<section class="my-8" aria-labelledby="special-gifts-section-heading">
  <h2 id="special-gifts-section-heading" class="sr-only">Special Gifts Collection</h2>
  <div class="grid">
    <!-- image next to carousel -->
    <div class="top-left-parent col-12 md:col-6 lg:col-3" role="img" aria-label="Red Christmas gifts with white ribbon"
      style="background-image: linear-gradient(to right , rgba(0 0 0 / 0.2)) , url('./images/gifts/Red christmas gifts with white ribbon.WebP')"
      aria-hidden="true">
      <h2>{{ "home.gifts.leftImage.heading2" | translate }}</h2>
      <h1 class="white-space-normal">{{ "home.gifts.leftImage.heading1" | translate }}</h1>
      <app-button [bgColor]="'var(--btn-shared-background)'" [textColor]="'var(--btn-shared-color)'"
        [text]="'home.gifts.leftImage.btn' | translate" [icon]="'pi pi-arrow-right arrowicon'"
        [borderRadius]="'btn-roundedBorderRadius'" [padding]="'btn-topLeft-padding'"
        aria-label="Shop for Special Gifts Box" />
    </div>
    <!-- carousel -->
    <div class="card relative col-12 md:col-6 lg:col-9">
      <div class="carousel-nav">
        <button class="nav-btn prev" (click)="onPrev()" aria-label="Previous">
          <i class="pi pi-angle-left"></i>
        </button>
        <button class="nav-btn next" (click)="onNext()" aria-label="Next">
          <i class="pi pi-angle-right"></i>
        </button>
      </div>
      <p-carousel #carousel ngSkipHydration [value]="carouselList" [numVisible]="1" [numScroll]="1" [circular]="true"
        [autoplayInterval]="autoScrollInterval" [responsiveOptions]="responsiveOptions" class="relative"
        aria-label="Gift Carousel" [prevButtonProps]="{ styleClass: 'p-button-rounded custom-gift-prev' }"
        [nextButtonProps]="{ styleClass: 'p-button-rounded custom-gift-next' }">
        <h3 id="carousel-heading" class="sr-only">Featured Gift Items</h3>
        <ng-template pTemplate="item" let-pic>
          <div class="carousel-content-parent border border-surface" role="group" aria-roledescription="slide"
            [style.backgroundImage]="'linear-gradient(to right , rgba(0 0 0 / 0.7) , rgba(0 0 0 / 0.5) 35%, rgba(0 0 0 / 0.3) 50% ) ,url(' + '\'' + pic.source + '\'' + ')'"
            [attr.aria-label]="pic.title">
            <div class="carousel-content">
              <h1>{{ "home.gifts.rightCarousel.heading1" | translate }}</h1>
              <h2>{{ "home.gifts.rightCarousel.heading2" | translate }}</h2>
              <app-button [text]="'home.gifts.rightCarousel.btn' | translate" [icon]="'pi pi-arrow-right arrowicon'"
                [textColor]="'var(--btn-shared-color)'" [bgColor]="'var(--btn-shared-background)'"
                [borderRadius]="'btn-roundedBorderRadius'" [padding]="'btn-carousel-padding'"
                aria-label="Shop for Special Gifts Box" />
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- bottom images -->
  <div class="grid mt-4">
    @for (pic of pics; track pic.id) {
    <div class="col-12 md:col-4" [class.md:px-3]="pic.id === 2">
      <div class="bottom-content flex  justify-content-start align-items-end"
        [style.backgroundImage]="'linear-gradient(to right , rgba(0 0 0 / 0.2) ) ,url(' + '\'' + pic.source + '\'' + ')'"
        role="img" [attr.aria-label]="pic.title">
        <div class="px-2">
          <h2 class="md:text-xs lg:text-base">
            {{ pic.heading2 | translate }}
          </h2>
          <h1 class="md:text-base lg:text-xl">
            {{ pic.heading1 | translate }}
          </h1>
        </div>
      </div>
    </div>
    }
  </div>
</section>