.separator {
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.separator.up {
  background-image: var(--auth-separator-up);
}

.separator.down {
  background-image: var(--auth-separator-down);
}
