aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--body-color);
  padding: 1rem;
  border-right: 0.0625rem solid #00000014;
  .logo_image {
    width: 7.5rem;
    margin: 2.25rem 3rem;
  }
}

.aside-button {
  color: var(--white);
  font-weight: 600;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  background-color: var(--aside-button);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-nav {
  display: flex;
  flex-direction: column;
  margin: 1rem 0px;
  gap: 1rem;
  .aside-nav-item {
    color: var(--aside-nav-item);
    display: flex;
    justify-content: start;
    align-items: start;
    font-weight: 700;
    padding: 0.625rem;
    border-radius: 0.625rem;
    gap: 0.5rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    img {
      width: 1.5rem;
    }
    &:hover {
      background-color: var(--active-item-bg);
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.color-soft-red {
  background-color: var(--active-item-bg);
  color: var(--active-item-text) !important;
}

.profile {
  padding: 10px;
}
