<aside>
  <div>
    <img
      ngSrc="images/overview/logo.png"
      width="120"
      height="120"
      loading="lazy"
      decoding="async"
      alt="rose-logo"
      class="logo_image"
    />
    <button class="aside-button" (click)="goToRose()">
      <img
        ngSrc="images/overview/flower.png"
        width="25"
        height="25"
        loading="lazy"
        decoding="async"
        alt="flower png"
      />
      {{ "aside-bar.preview-website" | translate }}
    </button>
    <div class="aside-nav">
      <a
        class="aside-nav-item"
        [routerLink]="'/dashboard/overview'"
        routerLinkActive="color-soft-red"
      >
        <i class="pi pi-objects-column"></i> {{ "aside-bar.overview" | translate }}</a
      >
      <a
        class="aside-nav-item"
        [routerLink]="'/dashboard/categories'"
        routerLinkActive="color-soft-red"
      >
        <i class="pi pi-clipboard"></i> {{ "aside-bar.categories" | translate }}
      </a>
      <a
        class="aside-nav-item"
        [routerLink]="'/dashboard/occasions'"
        routerLinkActive="color-soft-red"
      >
        <i class="pi pi-calendar"></i> {{ "aside-bar.occasions" | translate }}
      </a>
      <a
        class="aside-nav-item"
        [routerLink]="'/dashboard/products'"
        routerLinkActive="color-soft-red"
      >
        <i class="pi pi-box"></i> {{ "aside-bar.products" | translate }}
      </a>
    </div>
  </div>

  <section class="profile"></section>

  <app-user-data />
</aside>
