@for (item of filterItems(); track item._id) {
<div class="field-checkbox">
  <input type="checkbox" [id]="'category-' + item._id" [checked]="isItemSelected(item._id)"
    (change)="toggleItemSelection(item._id)">
  <label [id]="'filter-item-' + item._id + '-label'" [for]="'category-' + item._id">
    <span class="checkbox-custom" aria-hidden="true"></span>
    <div class="checkbox-label-content">
      <span class="checkbox-label-text">{{item.category}}</span>
      @if (item.productCount !== undefined) {
      <span class="product-count">({{item.productCount}})</span>
      }
    </div>
  </label>
</div>
}