<app-auth [@fadeTransition]="translationService.fadeState()" [process]="'login'" [title]="'auth.login.h1'"
    [heading3]="'auth.login.h3'"
   [heading3span]="'auth.login.span'" [formType]="loginForm">
   <div class="flex-col ">
      <form [formGroup]="loginForm" (ngSubmit)="submit()" >
         <!-- Email -->
      <app-custom-input formControlName="email" type="text" placeholder="user@example.com" id="email" labelText="{{'auth.inputs.email' |translate}}"
         [errorHandilgControl]="loginForm.get('email')!"   class="w-full" />

      <!-- Password -->
      <app-custom-input formControlName="password" type="password" placeholder="********" id="password" labelText="{{'auth.inputs.password' |translate}}"
         [errorHandilgControl]="loginForm.get('password')!"   class="w-full" />

         <h5 [routerLink]="'/forget-pass'" class="cursor-pointer">{{'auth.login.h5' |translate }}</h5>

         <app-form-button [text]="'auth.login.button' |translate" />
      </form>
   </div>
</app-auth>