<div class="breadcrumb-container">
  <img
    ngSrc="images/overview/logo.png"
    alt="mge for logo"
    width="60"
    height="60"
    loading="lazy"
    decoding="async"
    class="logo-img inline-block md:hidden"
  />
  <app-breadcrump class="hidden md:block" />
  <div class="flex items-center">
    <div class="lg:hidden block">
      <app-user-photo />
    </div>
    <button
      (click)="changeHidden()"
      class="inline-block lg:hidden relative mx-2"
      aria-controls="stepper-menu"
      [class.open]="hidden"
    >
      <i class="pi pi-align-justify"></i>
    </button>
  </div>

  <div
    id="stepper-menu"
    class="dropdown lg:hidden block"
    [class.open]="hidden"
    [attr.aria-hidden]="!hidden"
  >
    <ul class="dropdown-menu">
      <li>
        <div class="flex flex-row-reverse justify-content-end align-items-start">
          <lib-translate-toggle />
          <lib-button-theme [spacing]="false" />
        </div>
      </li>

      <li>
        <a
          role="button"
          tabindex="0"
          class="dropdown-item"
          routerLink="/dashboard/user-profile"
          (click)="changeHidden()"
          (keydown.escape)="changeHidden()"
        >
          <i class="pi pi-user"></i>
          <p>{{ "stepper.dropdown.profile" | translate }}</p>
        </a>
      </li>
      <li>
        <a
          role="button"
          tabindex="0"
          class="dropdown-item text-red-600"
          (click)="logout($event)"
          (keydown.escape)="changeHidden()"
        >
          <i class="pi pi-sign-out"></i>
          <p>{{ "stepper.dropdown.logout" | translate }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
