a {
  text-decoration: none;
}
.logo-img {
  width: 55px;
  height: 55px;
  margin-right: 0.75rem;
}
.breadcrumb-container {
  background-color: var(--body-color);
  border-bottom: 0.0625rem solid #00000014;
  padding: 0 1rem;
  position: relative;

  ul {
    list-style: none;
    padding: 0;
  }
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--drop-button-down-bg);
  }
  .dropdown {
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    z-index: 9999;
    transition:
      opacity 220ms ease-in-out,
      transform 220ms ease-in-out;
    opacity: 0;
    transform: translateY(-0.5rem);
    pointer-events: none;

    &.open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .dropdown-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      border-radius: 0.5rem;
      padding: 1rem;
      min-width: 10rem;
      gap: 1rem;
      .dropdown-item {
        display: flex;
        color: var(--bread-crump);
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        font-size: 1rem;
      }
    }
  }
}
