.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--data-user-background);
  width: 100%;
  padding: 0.75rem;
  border-top: 1px solid var(--data-user-border-top);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-photo {
  width: 3.375rem;
  height: 3.375rem;
  border: 1px solid var(--data-user-photo-border);
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.user-name {
  margin: 0;
  color: var(--data-user-name-color);
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2;
}

.user-email {
  margin: 0;
  color: var(--data-user-email-color);
  font-family: var(--font-family-1);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.2;
}

:host ::ng-deep .p-button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0.25rem !important;

  .pi {
    color: var(--data-user-icon-color) !important;
    font-size: 1rem;
  }
}

:host ::ng-deep .p-menu {
  background-color: var(--data-user-menu-background) !important;
  border: none !important;
  .p-menu-item:first-child .p-menu-item-link {
    color: var(--data-user-menu-first-item-color) !important;
    font-family: var(--font-family-1);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .p-menu-item-link {
    color: var(--data-user-items-color) !important;
    font-family: var(--font-family-1);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;

    &:hover {
      background-color: var(--data-user-menu-background-hover) !important;
    }
  }
  .pi {
    color: var(--data-user-items-color) !important;
  }
}
