<div class="password-form-wrapper">
  <div class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="password-form">
      <h2 class="form-title">Change Password</h2>

      <!-- Current Password -->
      <div class="form-group">
        <label for="password">Old Password</label>
        <app-custom-input formControlName="password" type="password" placeholder="********" id="password"
          [errorHandilgControl]="changePasswordForm.get('password')!" autocomplete="current-password"
          aria-required="true" />
      </div>

      <div class="divider"></div>

      <!-- New Password -->
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <app-custom-input formControlName="newPassword" type="password" placeholder="********" id="newPassword"
          [errorHandilgControl]="changePasswordForm.get('newPassword')!" autocomplete="new-password"
          aria-required="true" />
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label for="rePassword">Confirm New Password</label>
        <app-custom-input formControlName="rePassword" type="password" placeholder="********" id="rePassword"
          [errorHandilgControl]="changePasswordForm.get('rePassword')!" autocomplete="new-password"
          aria-required="true" />
      </div>

      @if(changePasswordForm.hasError('misMatch') && changePasswordForm.invalid){
      <p class="error-message"><i class="pi pi-exclamation-circle"></i> {{ 'inputErrors.misMatch' | translate }}</p>
      }

      <div class="form-actions">
        <app-form-button [text]="'Change Password'" [disabled]="changePasswordForm.invalid" [isLoading]="isSaving()"
          type="submit" />
      </div>
    </form>
  </div>
</div>