// @use "/apps/rose/src/app/shared/styles/variables" as *;
.product-review {
  font-family: var(--font-family-1);
  .product-review-header {
    border-bottom: 1px solid #E4E4E7;
    #review-header {

          font-size: 38px;
          font-weight: bold;
          color: #A6252A;
          position: relative;
          z-index: 0;
          width: fit-content;
          margin-bottom: 10px;
          &::before {
              content: "";
              position: absolute;
              bottom: 3px;
              left: 0;
              width: 60%;
              height: 18px;
              background-color: #FFE0E7;
              z-index: -1;
              border-radius: 20px;

            }

            .bottom-rect {
              position: absolute;
              bottom: 0;
              left: 0;
              height: 3px;
              background-color: #E65073;
              display: inline-block;
              width: 30%;
            }

    }





    .general-rating {
      h3 {
        font-size: 20px;
        color: #27272A;
      }
      .rating-average {
        span.rateVal {
          font-size: 24px;
        }
        .numOfRating {
          color: #71717A;
        }

      }
    }
  }
  .prod-review-content {
    label,.rateLable {
      font-size: 14px;
      color: #27272A;
    }
    .field :last-child {
      padding: 16px !important;
      border-radius: 10px;
      &::placeholder {
        text-transform: capitalize;
      }
    }
    .review-form {
      border-right: 1px solid #E4E4E7;
    }
  }




}
:host ::ng-deep
{
.p-rating-option-active .p-rating-icon {
  color: #FFC107;
}
.p-rating-icon{
  color: transparent;
  stroke: #FFC107;
}
}




