<section class="my-8">
    <div class="parent grid align-items-stretch">
        @for (service of services; track service.id) {
        <div class="col-12 md:col-6 xl:col-3">
            <div class="flex flex-column mb-5 justify-content-start align-items-center md:flex-row md:justify-content-center h-full">
                <div
                    class="icon mb-3 lg:mb-0 md:mr-3 text-white flex justify-content-center align-items-center">
                    <i [class]="service.icon"
                        class="style='color: surface-0' flex justify-content-center align-items-center"></i>
                </div>
                <div class="text-center lg:text-left">
                    <h3 class="line-height-3 text-xl font-semibold vertical-align-middle">
                        {{service.heading}}</h3>
                    <p class="slate-gray-text m-0 text-base font-normal vertical-align-middle">{{service.paragraph}}
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
</section>