
<app-filter-card>
  <span>{{"all-categories.cardSort.Sort By" | translate }}</span>
  <section aria-labelledby="filter-heading" class="checkbox-container">
  
    <div class="field-checkbox">
      <input type="checkbox" id="sort-low-high" name="sort-price" aria-labelledby="sort-low-high-label">
      <label id="sort-low-high-label" for="sort-low-high">
        <span class="checkbox-custom" aria-hidden="true"></span>
        <span class="checkbox-label">{{"all-categories.cardSort.Price: Low to High" | translate}}</span>
      </label>
    </div>
  
    <div class="field-checkbox">
      <input type="checkbox" id="sort-high-low" name="sort-price" aria-labelledby="sort-high-low-label">
      <label id="sort-high-low-label" for="sort-high-low">
        <span class="checkbox-custom" aria-hidden="true"></span>
        <span class="checkbox-label">{{"all-categories.cardSort.Price: High to Low" | translate}}</span>
      </label>
    </div>
  
    <div class="field-checkbox">
      <input type="checkbox" id="sort-a-z" name="sort-alpha" aria-labelledby="sort-a-z-label">
      <label id="sort-a-z-label" for="sort-a-z">
        <span class="checkbox-custom" aria-hidden="true"></span>
        <span class="checkbox-label">{{"all-categories.cardSort.Alphabetical: A-Z" | translate}}</span>
      </label>
    </div>
  
    <div class="field-checkbox">
      <input type="checkbox" id="sort-z-a" name="sort-alpha" aria-labelledby="sort-z-a-label">
      <label id="sort-z-a-label" for="sort-z-a">
        <span class="checkbox-custom" aria-hidden="true"></span>
        <span class="checkbox-label">{{"all-categories.cardSort.Alphabetical: Z-A" | translate }}</span>
      </label>
    </div>
  </section>
</app-filter-card>

