.footer {
  background: var(--footer-background);
  padding: 1.25rem;

  @media all and (min-width: 50rem) {
    padding: 2.5rem 5rem;
  }
}

.container-footer {
  width: 90%;
  margin: 0 auto;
}

.title {
  color: var(--footer-coupon-text-color);
  font-weight: 600;
  font-size: 1.125rem;
  margin: 0;
}

.rights {
  color: var(--footer-tabs-color);
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0;
}

.nav-list,
.nav-list li {
  text-align: center;

  @media all and (min-width: 48rem) {
    text-align: start;
  }
}

.tab-footer-scroll {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  margin-bottom: 3rem;
  max-width: 100vw;
  box-sizing: border-box;
}

.tab-footer-scroll::-webkit-scrollbar {
  display: none;
}

.tab-footer {
  border: none;
  color: var(--footer-tabs-color);
  font-family: var(--font-family-1);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
  background-color: transparent;
  cursor: pointer;
  transition: all ease 0.3s;
  white-space: nowrap;

  &:hover {
    color: var(--footer-tabs-hover-color);
  }
}

//coupon

.coupon-text {
  color: var(--footer-coupon-text-color);
  font-family: var(--font-family-1);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 100%;
  text-align: center;
}

.highlight {
  color: var(--footer-highlight-text-color);
}

.coupon-text-p {
  text-align: center;
  color: var(--footer-p-text-color);
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  margin-bottom: 2.5rem;
}

.input-button-wrapper {
  margin-bottom: 5.7575rem;
}

@media screen and (min-width: 300px) and (max-width: 766px) {
  .container-footer {
    width: 80%;
    margin: 0 auto;
  }

  .tab-footer {
    gap: 0.5rem;
    border: none;
    padding: 0.5rem;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .coupon-text {
    font-size: 1.25rem;
  }

  .coupon-text-p {
    font-size: 1rem;
    line-height: 100%;
    margin-bottom: 1rem;
  }
  .input-button-wrapper {
    margin: 0 auto 1.125rem !important;
  }
}
