//slider

.carousel-card-wrapper {
  padding: 0 0.5rem;
}

.custom-carousel .p-carousel-indicators {
  display: none !important;
}

:host ::ng-deep .p-ripple.p-button.p-component.custom-best-next {
  position: absolute;
  top: 30%;
  background-color: var(--carousel-button-best-sellers-background);
  border-radius: 100%;
  z-index: 5;
  transition: all 1s ease !important;
  &:hover {
    background-color: var(--carousel-button-best-sellers-hover);
  }
}
:host ::ng-deep .p-ripple.p-button.p-component.custom-best-prev {
  position: absolute;
  top: 30%;
  background-color: var(--carousel-button-best-sellers-background);
  border-radius: 100%;
  z-index: 5;
  transition: all 1s ease !important;
  &:hover {
    background-color: var(--carousel-button-best-sellers-hover);
  }
}

::ng-deep .p-ripple.p-button.p-component.custom-best-next {
  left: 95.5%;

  .carousel-next-icon {
    color: var(--carousel-i-color-best-sellers);
  }
}

::ng-deep .p-ripple.p-button.p-component.custom-best-prev {
  left: 0.4%;

  .carousel-prev-icon {
    color: var(--carousel-i-color-best-sellers);
  }
}

.product-carousel {
  width: 100%;
  position: relative;
  padding: 0 2rem;

  .custom-carousel {
    width: 100%;

    ::ng-deep .p-carousel-container {
      width: 100%;
      padding: 0;
    }

    ::ng-deep .p-carousel-content {
      display: flex;
      width: 100%;
      margin: 0 -0.5rem;
    }

    ::ng-deep .p-carousel-item {
      flex: 0 0 auto;
      width: 100%;
      padding: 0 1rem;
    }
    ::ng-deep .p-carousel-indicators {
      padding: 0 2rem;
    }
  }
}

/* No Items Message */
.no-items-message {
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 1rem;
  width: 100%;
  color: var(--title-popular-items-color);
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: 1.87rem;
}

/* Skeleton Loader Container */
.skeleton-loader {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  width: 100%;
}
