<div class="p-5">
  @if (loading) {
  <lib-spinner />
  } @else {
  <div class="flex flex-column justify-content-start gap-5">
    @for (item of address; track $index) {
    <app-address-item [address]="item"></app-address-item>
    } @empty {
    <div class="flex flex-column justify-content-center align-items-center text-center text-2xl">
      <img class="w-62px" width="62" height="62" ngSrc="/images/no-product-available.AVIF" alt="image for not avaliable"
        loading="lazy" decoding="async" />
      <p class="notfound-p">
        {{ "addressList.noAddress" | translate }}
      </p>
    </div>
    }
    <app-button class="w-full" padding="p-2" borderRadius="border-round-lg"
      [text]="'addressStepper.step1.titleAdd' | translate" (click)="openAddDialog()"></app-button>
  </div>
  }
</div>

<app-delete-dialog [visible]="addressState === AddressSituations.deleteAddress"
  (closed)="closeDeleteDialog()"></app-delete-dialog>

@if (addressState === AddressSituations.updateAddress) {
<app-address-stepper [visible]="addressState === AddressSituations.updateAddress" [isUpdate]="true"
  (closed)="closeStepperDialog()"></app-address-stepper>
}
@if (addressState === AddressSituations.addAddress) {
<app-address-stepper [visible]="addressState === AddressSituations.addAddress"
  (closed)="closeStepperDialog()"></app-address-stepper>
}