<div class="p-5">
  @if(loading){
  <app-spinner></app-spinner>

  }@else{
  <div class="flex flex-column justify-content-start gap-5">
    @for (item of address; track $index) {
    <app-address-item [address]="item"></app-address-item>
    }@empty{
    <div class="flex flex-column justify-content-center align-items-center text-center text-2xl">
      <img
        class="w-62px"
        src="/images/no-product-available.webp"
        alt="image for not avaliable"
        loading="lazy"
      />
      <p class="notfound-p">
        {{ "addressList.noAddress" | translate }}
      </p>
    </div>
    }
    <app-button
      class="w-full"
      padding="p-2"
      borderRadius="border-round-lg"
      text="Add New Address"
      (click)="openAddDialog()"
    ></app-button>
  </div>
  }
</div>

<app-delete-dialog
  [visible]="addressState === 6"
  (closed)="closeDeleteDialog()"
></app-delete-dialog>

@if(addressState === 4){
<app-address-stepper
  [visible]="addressState === 4"
  [isUpdate]="true"
  (closed)="closeStepperDialog()"
></app-address-stepper>
} @if(addressState === 2){
<app-address-stepper
  [visible]="addressState === 2"
  (closed)="closeStepperDialog()"
></app-address-stepper>
}
