<div class="unauthorized-wrapper">
  <div class="unauthorized-card">
    <div class="icon-wrapper">
      <img ngSrc="./images/general/lock-shield.svg" width="360" height="360" alt="not-authorized" class="shield-img" />
    </div>

    <h1 class="title">{{ "general.unauthorizedTitle" | translate }}</h1>
    <p class="subtitle">{{ "general.unauthorizedDesc" | translate }}</p>
    <div class="divider"></div>

    <button class="home-button" (click)="goToLogin()">Go to Homepage</button>
  </div>
</div>