//gallery-items

.gallery-container {
  text-align: center;
  width: 25.6875rem;
}

//Titles gallery-items

.title-h5 {
  color: var(--persian-rose);
  font-family: var(--font-family-2);
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.9125rem;
  letter-spacing: .25rem;
}

.gallery-title-wrapper {
  position: relative;
  display: inline-block;
}

.gallery-title {
  color: var(--dark-blue);
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: 1.87rem;
  line-height: 100%;
  position: relative;
  z-index: 10;
}

.gallery-bg-shape {
  position: absolute;
  top: 2.6rem;
  width: 21.125rem;
  height: 1.0625rem;
  border-radius: 0 1.25rem 1.25rem 0;
  z-index: 1;
  background-color: var(--light-pink);
}

.gallery-underline-bar {
  position: absolute;
  top: 3.6rem;
  width: 10.0625rem;
  height: .125rem;
  z-index: 11;
  background-color: var(--persian-rose);
}




.custom-gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  max-width: 79.0625rem;
  margin: 0 auto;
}

/* Large image spans two columns on desktop/tablet */
.gallery-wide {
  grid-column: span 2;
}

/* Common image styling */
.custom-img {
  width: 100%;
  height: 25.6875rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
}

/* Mobile view: 1 column layout */
@media screen and (max-width: 492px) {
  .custom-gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-wide {
    grid-column: span 1;
  }

  .custom-img {
    width: 100%;
    height: 21.5rem;
  }

  .gallery-title {
    font-size: 1.25rem;
    line-height: 100%;
  }

  .gallery-bg-shape {
    top: 2rem;
    width: 16.5431rem;
    height: 1.0625rem;
  }

  .gallery-underline-bar {
    top: 3rem;
    width: 7.88rem;
    height: 0.125rem;
  }
}

/* Tablet view: 3 columns */
@media screen and (min-width: 493px) and (max-width: 1024px) {
  .custom-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-wide {
    grid-column: span 2;
  }

  .custom-img {
    width: 100%;
    height: 21.5rem;
  }
}

/* Large screens */
@media screen and (min-width: 1025px) {
  .custom-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-wide {
    grid-column: span 2;
  }

  .custom-img {
    max-width: 100%;
    height: 25.6875rem;
  }
}
