<section class="gallery-container w-full sm:text-center text-left" aria-labelledby="gallery-heading">
  <!-- Title -->
  <h5 class="title-h5 uppercase mb-2">Our Gallery</h5>

  <div class="p-relative d-inline-block gallery-title-wrapper mb-3">
    <h2 id="gallery-heading" class="gallery-title">Let's Check Our Photo Gallery</h2>
    <div class="gallery-bg-shape" aria-hidden="true"></div>
    <div class="gallery-underline-bar" aria-hidden="true"></div>
  </div>

  <div class="grid grid-nogutter md:grid-cols-3 sm:grid-cols-1 gap-3 justify-content-center" role="list">
    @for (image of images; track image) {
    <div class="flex justify-content-center align-items-center overflow-hidden" role="listitem">
      <img [src]="image" alt="Gift image in gallery" class="custom-img" loading="lazy" />
    </div>
    }
  </div>
</section>
