@use "./variables";

.contain{
    width: 90%;
}

.fontFamily1 {
  font-family: variables.$font-family-1;
}

.fontFamily2 {
  font-family: variables.$font-family-2;
}

.light-pink-bg{
    background-color: variables.$light-pink;
}
.persian-rose-bg{
    background-color: variables.$persian-rose;
}
.violet-bg{
    background-color: variables.$violet;
}
.carnation-bg{
    background-color: variables.$carnation;
}
.carnation-text{
    color: variables.$carnation;
}
.azure-bg{
    background-color: variables.$azure;
}
.yellow-sea-bg{
    background-color: variables.$yellow-sea;
}
.dark-blue-text{
    color: variables.$dark-blue;
}
.slate-gray-text{
    color: variables.$slate-gray;
}
