//colors

$light-pink: #FEEDF7;
$persian-rose: #F82BA9;
$violet: #8C52FF;
$carnation: #F05454;
$azure: #00BFFF;
$yellow-sea: #FBA707;
$dark-blue: #160E4B;
$slate-gray: #757F95;

//fonts

$font-family-1: "Inter", sans-serif;
$font-family-2: "Roboto", sans-serif;
