// Variables
:root {
  // Fonts
  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Roboto", sans-serif;
  --font-family-3: "Tajawal", sans-serif;

  &[dir="rtl"] {
    --font-family-1: var(--font-family-3);
    --font-family-2: var(--font-family-3);
  }

  // Light theme colors
  --white: #ffffff;
  --black: #000000;
  --shadow-black: #0000000d;

  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-400: #a1a1aa;
  --zinc-300: #d4d4d8;
  --zinc-100: #f4f4f5;
  --zinc-50: #fafafa;
  --maroon-800: #501419;
  --maroon-700: #741c21;
  --maroon-600: #a6252a;
  --maroon-500: #cd2e33;
  --maroon-400: #d75458;
  --maroon-50: #fbeaea;
  --red-600: #dc2626;
  --soft-pink-600: #e65073;
  --soft-pink-500: #ff668b;
  --soft-pink-400: #ff85a2;
  --soft-pink-300: #ffa3b9;
  --soft-pink-200: #ffc2d0;
  --soft-pink-100: #ffe0e7;
  --soft-pink-50: #fff1f5;
  --yellow: #fba707;
  --hover-card-shape: #e6507380;
  --blue-700: #1447E6;

  //Body
  --body-color: var(--white);
  //Navbar
  --background-navbar: var(--white);
  --color-navbar: var(--zinc-700);
  --hover-navbar: var(--maroon-600);
  --active-navbar: var(--maroon-600);

  --color-icon-navbar: var(--zinc-700);
  --hover-icon-navbar: var(--maroon-600);
  --overlaybadge-bg: var(--soft-pink-200);
  --overlaybadge-color: var(--soft-pink-200);

  --close-btn-color: var(--zinc-700);
  --close-btn-hover: var(--maroon-600);
  --close-btn-border: var(--maroon-600);
  //DarkMode Toggle
  --toggle-color: var(--zinc-700);
  --toggle-hover: var(--maroon-600);
  // Search Toggle
  --Search-bg: var(--maroon-700);
  --Search-color: var(--maroon-50);
  --Search-hover: var(--maroon-500);
  // Footer
  --footer-background: var(--zinc-800);
  --footer-tabs-color: var(--zinc-100);
  --footer-tabs-hover-color: var(--soft-pink-300);
  --footer-coupon-text-color: var(--soft-pink-300);
  --footer-highlight-text-color: var(--maroon-50);
  --footer-p-text-color: var(--zinc-500);
  --footer-input-background: var(--white);
  --footer-input-color: var(--zinc-700);
  --footer-input-focus: var(--maroon-600);
  --footer-btn-background: var(--maroon-600);
  --footer-btn-hover: var(--maroon-500);
  // Shared  Input
  --input-background: var(--white);
  --input-color: var(--white);
  --input-focus: var(--soft-pink-300);
  --input-placeholder-color: var(--zinc-400);

  --input-btn-background: var(--maroon-50);
  --input-btn-color: var(--maroon-700);
  --input-btn-hover: var(--soft-pink-300);
  //Not-Found-Product
  --not-found-Product-color: var(--zinc-500);
  //Not-Found
  --not-found-title-color: var(--maroon-600);
  --not-found-p-color: var(--zinc-500);
  // Scrollbar
  --scrollbar-width: 0.625rem;
  --scrollbar-height: 0.625rem;
  --scrollbar-track-color: var(--white);
  --scrollbar-thumb-color: var(--maroon-600);
  --scrollbar-thumb-hover-color: var(--maroon-500);

  // Home Components
  // Categories
  --card-category-background: var(--maroon-50);
  --icon-category-background: var(--maroon-600);
  --card-title-category-color: var(--maroon-600);
  --card-p-category-color: var(--zinc-500);
  //Gift
  --h2-color-gift: var(--maroon-600);
  --h2-background-gift: var(--maroon-50);
  --h1-color-gift: var(--white);
  --dark-text-gift: var(--white);
  --highlight-color-gift: var(--maroon-600);
  --carousel-i-color-gift: var(--maroon-50);
  --carousel-button-gift-background: var(--maroon-600);
  --carousel-button-gift-hover: var(--maroon-500);
  --carousel-indicator-button-gift-color: var(--maroon-50);
  --carousel-indicator-button-gift-active: var(--maroon-600);
  --carousel-indicator-button-gift-hover: var(--maroon-500);
  --carousel-button-gift-hover: var(--maroon-500);
  //BTN-Shared
  --btn-shared-color: var(--maroon-50);
  --btn-shared-i-color: var(--white);
  --btn-shared-background: var(--maroon-700);
  --btn-shared-background-hover: var(--maroon-500);
  //Our Services
  --our-services-color: var(--maroon-50);
  --our-services-background: var(--maroon-50);
  --our-services-icon-background: var(--maroon-600);
  --our-services-icon-color: var(--white);
  --our-services-title-color: var(--maroon-600);
  --our-services-p-color: var(--zinc-500);
  // Best Sellers
  --title-best-sellers-color: var(--maroon-700);
  --highlight-best-sellers-color: var(--soft-pink-500);
  --subtitle-best-sellers-color: var(--maroon-700);
  --p-best-sellers-color: var(--zinc-500);
  --carousel-i-color-best-sellers: var(--maroon-50);
  --carousel-button-best-sellers-background: var(--maroon-600);
  --carousel-button-best-sellers-hover: var(--maroon-500);
  // Popular Items
  --title-popular-items-color: var(--maroon-700);
  --shape-popular-items-background: var(--soft-pink-100);
  --underline-bar-popular-items-color: var(--soft-pink-600);
  --subtitle-popular-items-color: var(--maroon-700);
  --popular-items-tabs-color: var(--zinc-700);
  --popular-items-tabs-active-color: var(--maroon-600);
  --popular-items-tabs-hover-color: var(--maroon-600);
  // Card Item
  --card-item-background: var(--white);
  --title-card-item-color: var(--maroon-700);
  --shape-card-item-background: var(--hover-card-shape);
  --shape-i-card-item-background: var(--white);
  --shape-i-card-item-color: var(--maroon-600);
  --shape-i-card-item-hover-color: var(--maroon-50);
  --price-card-item-color: var(--maroon-700);
  --rating-card-item-color: var(--yellow);
  --btn-shopping-card-item-background: var(--maroon-600);
  --btn-shopping-card-item-hover-background: var(--maroon-500);
  --btn-shopping-card-item-color: var(--white);
  // About Us
  --title-about-us-color: var(--soft-pink-500);
  --subtitle-about-us-color: var(--maroon-700);
  --highlight-about-us-color: var(--soft-pink-500);
  --p-about-us-color: var(--zinc-500);
  --checker-about-us-color: var(--maroon-700);
  --checker-p-about-us-color: var(--zinc-800);
  --border-img-about-us-color: var(--maroon-600);
  // Gallery
  --title-gallery-color: var(--soft-pink-500);
  --subtitle-gallery-color: var(--maroon-700);
  --shape-gallery-background: var(--soft-pink-100);
  --underline-bar-gallery-color: var(--soft-pink-600);
  //Testimonials
  --testimonials-background: var(--maroon-50);
  --testimonials-title-color: var(--zinc-800);
  --testimonials-subtitle-color: var(--zinc-800);
  --testimonials-p-color: var(--zinc-800);
  --testimonials-card-background: var(--white);
  --testimonials-img-background: var(--soft-pink-200);
  --testimonials-rating-color: var(--yellow);
  --testimonials-carousel-button-background: var(--maroon-600);
  --testimonials-carousel-button-hover: var(--maroon-500);
  --testimonials-carousel-button-color: var(--maroon-50);
  --testimonials-carousel-indicator-button-color: var(--maroon-400);
  --testimonials-carousel-indicator-button-active: var(--maroon-600);
  --testimonials-carousel-indicator-button-hover: var(--maroon-500);
  // Trusted By
  --trusted-by-background: var(--maroon-50);
  --trusted-by-title-color: var(--maroon-700);
  --trusted-by-highlight-color: var(--soft-pink-500);
  --trusted-by-underline-color: var(--soft-pink-600);

  // All-Categories Components
  //Card Filters
  --bg-card-filter: var(--white);
  --color-title-card-filter: var(--zinc-800);
  --color-card-filter: var(--zinc-700);
  --checked-filter: var(--maroon-600);
  --check-border-filter: var(--zinc-800);
  --check-icon-border-filter: var(--white);
  //Btn-Clear-Filters
  --btn-clear-filters-color: var(--maroon-600);
  --btn-clear-filters-hover: var(--maroon-500);
  //Btn-SideBar-Filters
  --btn-clear-filters-color-icon: var(--maroon-50);
  --btn-SideBar-filters-color: var(--maroon-600);
  --btn-SideBar-filters-hover: var(--maroon-500);
  --btn-SideBar-filters-color-icon: var(--maroon-50);
  --btn-close-SideBar-color: var(--zinc-800);
  --btn-close-SideBar-border: var(--maroon-500);
  --btn-close-SideBar-hover: var(--maroon-600);
  // Price Filter
  --text-price-rating: var(--maroon-600);
  --p-slider-background: var(--zinc-400);
  --p-slider-range-color: var(--maroon-600);
  --point-slider-color: var(--maroon-600);
  --point-slider-hover: var(--maroon-500);
  // Ratings-filter
  --star-color: var(--yellow);
  // Login
  --auth-title: var(--maroon-700);
  --forgetPass-anchor: var(--maroon-700);
  --register-anchor: var(--zinc-800);
  --register-span-anchor: var(--maroon-700);
  // Forget pass
  --forget-pass-title: var(--zinc-800);
  // Verify OTP
  --edit: var(--blue-700);
  // Auth-Button
  --form-button-bg: var(--maroon-600);
  --form-button-hover: var(--maroon-500);
  --form-button-color: var(--white);
}

// Dark theme overrides
.dark-mode {
  //Body
  --body-color: var(--zinc-800);
  //Navbar
  --background-navbar: var(--zinc-800);
  --color-navbar: var(--zinc-100);
  --hover-navbar: var(--soft-pink-200);
  --active-navbar: var(--soft-pink-200);

  --color-icon-navbar: var(--zinc-100);
  --hover-icon-navbar: var(--soft-pink-200);
  --overlaybadge-bg: var(--soft-pink-200);
  --overlaybadge-color: var(--soft-pink-200);

  --close-btn-color: var(--zinc-100);
  --close-btn-hover: var(--soft-pink-200);
  --close-btn-border: var(--soft-pink-200);
  //DarkMode Toggle
  --toggle-color: var(--zinc-100);
  --toggle-hover: var(--soft-pink-200);
  // Search Toggle
  --Search-bg: var(--soft-pink-200);
  --Search-color: var(--zinc-700);
  --Search-hover: var(--soft-pink-300);
  // Footer
  --footer-background: var(--zinc-900);
  --footer-input-background: var(--zinc-800);
  --footer-input-color: var(--zinc-700);
  --footer-input-focus: var(--soft-pink-200);
  --footer-btn-background: var(--soft-pink-200);
  --footer-btn-hover: var(--maroon-500);
  // Shared  Input
  --input-background: var(--zinc-800);
  --input-color: var(--white);
  --input-focus: var(--soft-pink-200);
  --input-placeholder-color: var(--zinc-400);

  --input-btn-background: var(--soft-pink-300);
  --input-btn-color: var(--zinc-800);
  --input-btn-hover: var(--soft-pink-400);
  //Not-Found-Product
  --not-found-Product-color: var(--zinc-400);
  //Not-Found
  --not-found-title-color: var(--soft-pink-200);
  --not-found-p-color: var(--zinc-400);
  // Scrollbar
  --scrollbar-width: 0.625rem;
  --scrollbar-height: 0.625rem;
  --scrollbar-track-color: var(--zinc-800);
  --scrollbar-thumb-color: var(--soft-pink-200);
  --scrollbar-thumb-hover-color: var(--soft-pink-300);

  // Home Components
  // Categories
  --card-category-background: var(--zinc-700);
  --icon-category-background: var(--soft-pink-200);
  --card-title-category-color: var(--soft-pink-200);
  --card-p-category-color: var(--zinc-300);
  //BTN-Shared
  --btn-shared-color: var(--zinc-800);
  --btn-shared-i-color: var(--zinc-800);
  --btn-shared-background: var(--soft-pink-200);
  --btn-shared-background-hover: var(--soft-pink-300);
  //Gift
  --h2-color-gift: var(--maroon-600);
  --h2-background-gift: var(--maroon-50);
  --h1-color-gift: var(--white);
  --dark-text-gift: var(--white);
  --highlight-color-gift: var(--maroon-600);
  --carousel-i-color-gift: var(--maroon-50);
  --carousel-button-gift-background: var(--maroon-600);
  --carousel-button-gift-hover: var(--maroon-500);
  --carousel-indicator-button-gift-color: var(--maroon-50);
  --carousel-indicator-button-gift-active: var(--maroon-600);
  --carousel-indicator-button-gift-hover: var(--maroon-500);
  --carousel-button-gift-hover: var(--maroon-500);
  //Our Services
  --our-services-color: var(--zinc-700);
  --our-services-background: var(--soft-pink-200);
  --our-services-icon-background: var(--soft-pink-200);
  --our-services-icon-color: var(--zinc-800);
  --our-services-title-color: var(--soft-pink-200);
  --our-services-p-color: var(--zinc-400);
  // Best Sellers
  --title-best-sellers-color: var(--maroon-400);
  --highlight-best-sellers-color: var(--soft-pink-200);
  --subtitle-best-sellers-color: var(--maroon-400);
  --p-best-sellers-color: var(--zinc-400);
  --carousel-i-color-best-sellers: var(--maroon-700);
  --carousel-button-best-sellers-background: var(--maroon-50);
  --carousel-button-best-sellers-hover: var(--soft-pink-200);
  // Popular Items
  --title-popular-items-color: var(--soft-pink-200);
  --shape-popular-items-background: var(--zinc-700);
  --underline-bar-popular-items-color: var(--soft-pink-500);
  --subtitle-popular-items-color: var(--maroon-700);
  --popular-items-tabs-color: var(--zinc-400);
  --popular-items-tabs-active-color: var(--soft-pink-200);
  --popular-items-tabs-hover-color: var(--soft-pink-200);
  // Card Item
  --card-item-background: var(--zinc-800);
  --title-card-item-color: var(--soft-pink-200);
  --shape-card-item-background: var(--hover-card-shape);
  --shape-i-card-item-background: var(--white);
  --shape-i-card-item-color: var(--maroon-600);
  --shape-i-card-item-hover-color: var(--maroon-50);
  --price-card-item-color: var(--soft-pink-200);
  --rating-card-item-color: var(--yellow);
  --btn-shopping-card-item-background: var(--maroon-500);
  --btn-shopping-card-item-hover-background: var(--maroon-600);
  --btn-shopping-card-item-color: var(--white);
  // About Us
  --title-about-us-color: var(--maroon-400);
  --subtitle-about-us-color: var(--soft-pink-200);
  --highlight-about-us-color: var(--maroon-400);
  --p-about-us-color: var(--zinc-400);
  --checker-about-us-color: var(--soft-pink-400);
  --checker-p-about-us-color: var(--zinc-50);
  --border-img-about-us-color: var(--soft-pink-400);
  // Gallery
  --title-gallery-color: var(--maroon-400);
  --subtitle-gallery-color: var(--soft-pink-200);
  --shape-gallery-background: var(--zinc-700);
  --underline-bar-gallery-color: var(--soft-pink-500);
  //Testimonials
  --testimonials-background: var(--zinc-700);
  --testimonials-title-color: var(--zinc-800);
  --testimonials-subtitle-color: var(--zinc-800);
  --testimonials-p-color: var(--zinc-800);
  --testimonials-card-background: var(--white);
  --testimonials-img-background: var(--soft-pink-400);
  --testimonials-rating-color: var(--yellow);
  --testimonials-carousel-button-background: var(--maroon-50);
  --testimonials-carousel-button-hover: var(--soft-pink-200);
  --testimonials-carousel-button-color: var(--maroon-700);
  --testimonials-carousel-indicator-button-color: var(--soft-pink-300);
  --testimonials-carousel-indicator-button-active: var(--soft-pink-500);
  --testimonials-carousel-indicator-button-hover: var(--soft-pink-500);
  // Trusted By
  --trusted-by-background: var(--zinc-700);
  --trusted-by-title-color: var(--soft-pink-200);
  --trusted-by-highlight-color: var(--maroon-400);
  --trusted-by-underline-color: var(--soft-pink-500);

  // All-Categories Components
  //Card Filters
  --bg-card-filter: var(--zinc-700);
  --color-title-card-filter: var(--zinc-50);
  --color-card-filter: var(--zinc-50);
  --checked-filter: var(--soft-pink-300);
  --check-border-filter: var(--zinc-50);
  --check-icon-border-filter: var(--white);
  //Btn-Clear-Filters
  --btn-clear-filters-color: var(--soft-pink-300);
  --btn-clear-filters-hover: var(--soft-pink-400);
  //Btn-SideBar-Filters
  --btn-clear-filters-color-icon: var(--maroon-50);
  --btn-SideBar-filters-color: var(--maroon-500);
  --btn-SideBar-filters-hover: var(--maroon-600);
  --btn-SideBar-filters-color-icon: var(--maroon-50);
  --btn-close-SideBar-color: var(--zinc-50);
  --btn-close-SideBar-border: var(--soft-pink-200);
  --btn-close-SideBar-hover: var(--soft-pink-200);
  // Price Filter
  --text-price-rating: var(--soft-pink-200);
  --p-slider-background: var(--zinc-50);
  --p-slider-range-color: var(--soft-pink-300);
  --point-slider-color: var(--soft-pink-300);
  --point-slider-hover: var(--soft-pink-400);
  // Ratings-filter
  --star-color: var(--yellow);
  // Login
  --auth-title: var(--soft-pink-300);
  --forgetPass-anchor: var(--soft-pink-300);
  --register-anchor: var(--zinc-50);
  --register-span-anchor: var(--soft-pink-300);
   // Forget pass
  --forget-pass-title: var(--zinc-50);
  // Verify OTP
  --edit: var(--blue-700);
  // Auth-Button
  --form-button-bg: var(--soft-pink-300);
  --form-button-hover: var(--soft-pink-400);
  --form-button-color: var(--zinc-800);
}