:root {
  // Fonts
  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Roboto", sans-serif;
  --font-family-3: "Mulish", sans-serif;
  --font-family-4: "Sarabun", sans-serif;
  --font-family-5: "Pinyon Script", sans-serif;
  --font-family-ar: "Tajawal", sans-serif;

  &[dir="rtl"] {
    --font-family-1: var(--font-family-ar);
    --font-family-2: var(--font-family-ar);
    --font-family-3: var(--font-family-ar);
    --font-family-4: var(--font-family-ar);
    --font-family-5: var(--font-family-ar);
  }

  --separator-up: url("/images/auth/separatorUP.svg");
  --separator-down: url("/images/auth/separatorDown.svg");

  --dark-separator-up: url("/images/auth/darkSeparatorUP.svg");
  --dark-separator-down: url("/images/auth/darkSeparatorDown.svg");

  // Light theme colors
  --white: #ffffff;
  --black: #000000;
  --shadow-black: #0000000d;
  --shadow-black-opacity: #0000001a;

  --shadow-error: #ffffff4d;
  --shadow-success: #00000026;

  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-400: #a1a1aa;
  --zinc-300: #d4d4d8;
  --zinc-200: #e4e4e7;
  --zinc-100: #f4f4f5;
  --zinc-50: #fafafa;
  --maroon-800: #501419;
  --maroon-700: #741c21;
  --maroon-600: #a6252a;
  --maroon-500: #cd2e33;
  --maroon-400: #d75458;
  --maroon-50: #fbeaea;
  --red-600: #dc2626;
  --soft-pink-600: #e65073;
  --soft-pink-500: #ff668b;
  --soft-pink-400: #ff85a2;
  --soft-pink-300: #ffa3b9;
  --soft-pink-200: #ffc2d0;
  --soft-pink-100: #ffe0e7;
  --soft-pink-50: #fff1f5;
  --hover-card-shape: #e6507380;

  --emerald-50: #ecfdf5;
  --emerald-300: #5ee9b5;
  --emerald-500: #00BC7D;
  --emerald-700: #007a55;

  --blue-400: #50a2ff;
  --blue-700: #1447e6;

  --gray-950: #323639;

  --yellow: #fba707;

  // Body
  --body-color: var(--white);
  // Navbar
  --background-navbar: var(--white);
  --color-navbar-text: var(--zinc-500);
  --color-navbar-highlight: var(--maroon-700);

  --background-navbar-input: var(--white);
  --color-navbar-input-border: var(--zinc-300);
  --color-navbar-input-text: var(--zinc-400);

  --color-navbar-input-shadow: var(--maroon-700);
  --color-navbar-input-shadow-border: var(--maroon-700);

  --background-navbar-second-row: var(--maroon-700);
  --color-navbar-second-row: var(--zinc-50);
  --color-hover-navbar-second-row: var(--soft-pink-200);
  --color-active-navbar-second-row: var(--soft-pink-200);
  --color-underline-navbar-second-row: var(--soft-pink-200);

  --color-arrow-user-navbar: var(--zinc-500);
  --color-border-icons-navbar: var(--zinc-200);
  --color-icons-navbar: var(--zinc-700);
  --color-hover-icons-navbar: var(--maroon-700);

  --background-badges-icons-navbar: var(--red-600);
  --color-badges-icons-navbar: var(--zinc-50);

  --color-hover-arrow-user-navbar: var(--maroon-700);

  --close-btn-color: var(--zinc-700);
  --close-btn-hover: var(--maroon-700);
  --close-btn-border: var(--zinc-400);

  --color-navbar-mobile: var(--zinc-700);
  --color-hover-navbar-mobile: var(--soft-pink-300);
  // DarkMode Toggle
  --toggle-color: var(--zinc-700);
  --toggle-hover: var(--maroon-600);
  // Translate Toggle
  --translate-toggle-color: var(--zinc-700);
  --translate-toggle-hover: var(--maroon-600);
  // Search Toggle
  --Search-bg: var(--maroon-700);
  --Search-color: var(--maroon-50);
  --Search-hover: var(--maroon-500);
  // Footer
  --footer-background: var(--zinc-800);
  --footer-tabs-color: var(--zinc-100);
  --footer-tabs-hover-color: var(--soft-pink-300);
  --footer-coupon-text-color: var(--soft-pink-300);
  --footer-highlight-text-color: var(--maroon-50);
  --footer-p-text-color: var(--zinc-500);
  --footer-input-background: var(--white);
  --footer-input-color: var(--zinc-700);
  --footer-input-focus: var(--maroon-600);
  --footer-btn-background: var(--maroon-600);
  --footer-btn-hover: var(--maroon-500);
  // Shared Input
  --input-background: var(--white);
  --input-color: var(--white);
  --input-focus: var(--soft-pink-300);
  --input-placeholder-color: var(--zinc-500);

  --input-btn-background: var(--maroon-50);
  --input-btn-color: var(--maroon-700);
  --input-btn-hover: var(--soft-pink-300);
  // Not-Found-Product
  --not-found-Product-color: var(--zinc-500);
  // Not-Found
  --not-found-title-color: var(--maroon-600);
  --not-found-p-color: var(--zinc-500);
  // Scrollbar
  --scrollbar-width: 0.625rem;
  --scrollbar-height: 0.625rem;
  --scrollbar-track-color: var(--white);
  --scrollbar-thumb-color: var(--maroon-600);
  --scrollbar-thumb-hover-color: var(--maroon-500);

  // Home Components
  // Categories
  --card-category-background: var(--maroon-50);
  --icon-category-background: var(--maroon-600);
  --card-title-category-color: var(--maroon-600);
  --card-p-category-color: var(--zinc-500);
  // Gift
  --h2-color-gift: var(--maroon-600);
  --h2-background-gift: var(--maroon-50);
  --h1-color-gift: var(--white);
  --h2-carousel-color-gift: var(--white);
  --dark-text-gift: var(--white);
  --highlight-color-gift: var(--maroon-600);
  --carousel-i-color-gift: var(--maroon-50);
  --carousel-button-gift-background: var(--maroon-600);
  --carousel-button-gift-hover: var(--maroon-500);
  --carousel-indicator-button-gift-color: var(--maroon-50);
  --carousel-indicator-button-gift-active: var(--maroon-600);
  --carousel-indicator-button-gift-hover: var(--maroon-500);
  --carousel-button-gift-hover: var(--maroon-500);
  // BTN-Shared
  --btn-shared-color: var(--white);
  --btn-shared-i-color: var(--white);
  --btn-shared-background: var(--maroon-600);
  --btn-shared-background-hover: var(--maroon-500);
  // Our Services
  --our-services-color: var(--maroon-50);
  --our-services-background: var(--maroon-50);
  --our-services-icon-background: var(--maroon-600);
  --our-services-icon-color: var(--white);
  --our-services-title-color: var(--maroon-600);
  --our-services-p-color: var(--zinc-500);
  // Best Sellers
  --title-best-sellers-color: var(--maroon-700);
  --highlight-best-sellers-color: var(--soft-pink-500);
  --subtitle-best-sellers-color: var(--maroon-700);
  --p-best-sellers-color: var(--zinc-500);
  --carousel-i-color-best-sellers: var(--maroon-50);
  --carousel-button-best-sellers-background: var(--maroon-600);
  --carousel-button-best-sellers-hover: var(--maroon-500);
  // Popular Items
  --title-popular-items-color: var(--maroon-700);
  --shape-popular-items-background: var(--soft-pink-100);
  --underline-bar-popular-items-color: var(--soft-pink-600);
  --subtitle-popular-items-color: var(--maroon-700);
  --popular-items-tabs-color: var(--zinc-700);
  --popular-items-tabs-active-color: var(--maroon-600);
  --popular-items-tabs-hover-color: var(--maroon-600);
  // Card Item
  --card-item-background: var(--white);
  --title-card-item-color: var(--maroon-700);
  --shape-card-item-background: var(--hover-card-shape);
  --shape-i-card-item-background: var(--white);
  --shape-i-card-item-color: var(--maroon-600);
  --shape-i-card-item-hover-color: var(--maroon-50);
  --price-card-item-color: var(--maroon-700);
  --rating-card-item-color: var(--yellow);
  --btn-shopping-card-item-background: var(--maroon-600);
  --btn-shopping-card-item-hover-background: var(--maroon-500);
  --btn-shopping-card-item-color: var(--white);
  // About Us
  --title-about-us-color: var(--soft-pink-500);
  --subtitle-about-us-color: var(--maroon-700);
  --highlight-about-us-color: var(--soft-pink-500);
  --p-about-us-color: var(--zinc-500);
  --checker-about-us-color: var(--maroon-700);
  --checker-p-about-us-color: var(--zinc-800);
  --border-img-about-us-color: var(--maroon-600);
  // Gallery
  --title-gallery-color: var(--soft-pink-500);
  --subtitle-gallery-color: var(--maroon-700);
  --shape-gallery-background: var(--soft-pink-100);
  --underline-bar-gallery-color: var(--soft-pink-600);
  // Testimonials
  --testimonials-background: var(--maroon-50);
  --testimonials-title-color: var(--zinc-800);
  --testimonials-subtitle-color: var(--zinc-400);
  --testimonials-p-color: var(--zinc-800);
  --testimonials-card-background: var(--white);
  --testimonials-img-background: var(--soft-pink-200);
  --testimonials-rating-color: var(--yellow);
  --testimonials-carousel-button-background: var(--maroon-600);
  --testimonials-carousel-button-hover: var(--maroon-500);
  --testimonials-carousel-button-color: var(--maroon-50);
  --testimonials-carousel-indicator-button-color: var(--maroon-400);
  --testimonials-carousel-indicator-button-active: var(--maroon-600);
  --testimonials-carousel-indicator-button-hover: var(--maroon-500);
  // Trusted By
  --trusted-by-background: var(--maroon-50);
  --trusted-by-title-color: var(--maroon-700);
  --trusted-by-highlight-color: var(--soft-pink-500);
  --trusted-by-underline-color: var(--soft-pink-600);

  // All-Categories Components
  // Card Filters
  --bg-card-filter: var(--white);
  --color-title-card-filter: var(--zinc-800);
  --color-card-filter: var(--zinc-700);
  --checked-filter: var(--maroon-600);
  --check-border-filter: var(--zinc-800);
  --check-icon-border-filter: var(--white);
  // Btn-Clear-Filters
  --btn-clear-filters-color: var(--maroon-600);
  --btn-clear-filters-hover: var(--maroon-500);
  // Btn-SideBar-Filters
  --btn-clear-filters-color-icon: var(--maroon-50);
  --btn-SideBar-filters-color: var(--maroon-600);
  --btn-SideBar-filters-hover: var(--maroon-500);
  --btn-SideBar-filters-color-icon: var(--maroon-50);
  --btn-close-SideBar-color: var(--zinc-800);
  --btn-close-SideBar-border: var(--maroon-500);
  --btn-close-SideBar-hover: var(--maroon-600);
  // Price Filter
  --text-price-rating: var(--maroon-600);
  --p-slider-background: var(--zinc-400);
  --p-slider-range-color: var(--maroon-600);
  --point-slider-color: var(--maroon-600);
  --point-slider-hover: var(--maroon-500);
  // Ratings-filter
  --star-color: var(--yellow);

  // Auth
  // Separator
  --auth-separator-up: var(--separator-up);
  --auth-separator-down: var(--separator-down);
  // Login
  --auth-title: var(--maroon-700);
  --forgetPass-anchor: var(--maroon-700);
  --register-anchor: var(--zinc-800);
  --register-span-anchor: var(--maroon-700);
  // Forget pass
  --forget-pass-title: var(--zinc-800);
  // Verify OTP
  --edit: var(--blue-700);

  --resend-code-color: var(--maroon-600);
  --disable-resend-code-color: var(--zinc-800);
  // Auth-Button
  --form-button-bg: var(--maroon-600);
  --form-button-disabled: var(--maroon-800);
  --form-button-hover: var(--maroon-500);
  --form-button-color: var(--white);
  // Custom Input
  --input-color: var(--white);
  --input-text-color: var(--zinc-400);
  --input-placeholder-text-color: var(--zinc-500);
  --label-color: var(--zinc-800);
  --input-border-color: var(--zinc-300);
  --selected-color-input: var(--gray-950);
  --border-active-color: var(--maroon-700);
  // Notification-Toast
  --toast-error-bg: var(--maroon-50);
  --toast-error-color: var(--zinc-800);
  --toast-error-i-color: var(--maroon-500);
  --toast-success-bg: var(--emerald-50);
  --toast-success-color: var(--zinc-800);
  --toast-success-i-color: var(--emerald-700);
  --toast-btn-close-color: var(--zinc-400);

  //details
  //1- reviews
  --details-header-color: var(--zinc-800);
  --review-desc: var(--zinc-600);
  --details-desc: var(--zinc-600);
  --input-bg: var(--white);
  //img preview
  --preview-bg: var(--white);
  --preview-color: var(--zinc-800);
  // PrimeNg Button
  --p-button-primary-background: var(--maroon-600) !important;
  --p-button-primary-hover-border-color: var(--maroon-600) !important;
  --p-button-primary-border-color: var(--maroon-600) !important;
  --p-button-primary-hover-background: var(--maroon-500) !important;
  --p-button-padding-x: 1rem !important;
  --p-button-padding-y: 0.625rem !important;
  // stepper
  --p-stepper-separator-active-background: var(--maroon-600) !important;
  --p-stepper-step-gap: 0rem !important;
  --p-stepper-step-header-gap: 0rem !important;
  --p-stepper-step-padding: 0rem !important;
  --p-stepper-step-number-active-color: var(--white) !important;
  --p-stepper-step-number-active-background: var(--maroon-600) !important;
  --p-stepper-step-number-active-border-color: var(--maroon-600) !important;
  --p-stepper-separator-size: 0.375rem !important;
  // Address item
  --address-name:var(--maroon-600);
  --address-name-background:var(--zinc-50);
  --address-body:var(--zinc-800);
  --loading-color:var(--maroon-500);
  // Delete dialog
  --dialog-p:var(--zinc-800);
  --dialog-out-shadow:#2E2E300D;
  --dialog-icon:#2E2E3026;

  //Order Flow
  //Summary
  --summary-background-color: var(--zinc-50);
  --summary-title-color: var(--black);
  --total-row-color: var(--black);
  --summary-button-color: var(--maroon-600);
  --summary-button-hover: var(--maroon-500);
  --summary-button-text-color: var(--white);
  --coupon-border-color: var(--zinc-300);

  //Orders
  --order-title-color: var(--black);
  --order-header-bg: var(--maroon-600);
  --order-header-color: var(--white);
  --order-total-color:var(--zinc-800);
  --green-badge-bg: var(--emerald-500);
  --blue-badge-bg:var(--blue-700);
  --red-badge-bg:var(--red-600);
  --badge-color: var(--white);
  --order-items-bg: var(--zinc-100);
  --payment-color: var(--zinc-500);
  --order-item-bg: var(--white);
  --order-item-title: var(--maroon-600);
  --quantity-color: var(--maroon-600);
  --order-ratings: var(--blue-700);
  --show-btn: var(--maroon-600);
  --rating-star: var(--yellow);
  --fade-mask-base: 255, 255, 255; 

}

// Dark theme overrides
.dark-mode {
  // Body
  --body-color: var(--zinc-800);
  // Navbar
  --background-navbar: var(--zinc-800);
  --color-navbar-text: var(--zinc-400);
  --color-navbar-highlight: var(--soft-pink-200);

  --background-navbar-input: var(--zinc-700);
  --color-navbar-input-border: var(--zinc-600);
  --color-navbar-input-text: var(--zinc-400);
  --color-navbar-input-shadow: var(--soft-pink-200);
  --color-navbar-input-shadow-border: var(--soft-pink-200);

  --background-navbar-second-row: var(--soft-pink-200);
  --color-navbar-second-row: var(--zinc-800);
  --color-hover-navbar-second-row: var(--maroon-800);
  --color-active-navbar-second-row: var(--maroon-800);
  --color-underline-navbar-second-row: var(--maroon-800);

  --color-arrow-user-navbar: var(--zinc-400);
  --color-border-icons-navbar: var(--zinc-200);
  --color-icons-navbar: var(--zinc-50);
  --color-hover-icons-navbar: var(--soft-pink-200);

  --background-badges-icons-navbar: var(--soft-pink-200);
  --color-badges-icons-navbar: var(--zinc-800);

  --color-hover-arrow-user-navbar: var(--soft-pink-200);

  --close-btn-color: var(--zinc-50);
  --close-btn-hover: var(--soft-pink-200);
  --close-btn-border: var(--zinc-400);

  --color-navbar-mobile: var(--zinc-50);
  --color-hover-navbar-mobile: var(--maroon-500);
  // DarkMode Toggle
  --toggle-color: var(--zinc-100);
  --toggle-hover: var(--soft-pink-200);
  // Translate Toggle
  --translate-toggle-color: var(--zinc-100);
  --translate-toggle-hover: var(--soft-pink-200);
  // Search Toggle
  --Search-bg: var(--soft-pink-200);
  --Search-color: var(--zinc-700);
  --Search-hover: var(--soft-pink-300);
  // Footer
  --footer-background: var(--zinc-900);
  --footer-input-background: var(--zinc-800);
  --footer-input-color: var(--zinc-700);
  --footer-input-focus: var(--soft-pink-200);
  --footer-btn-background: var(--soft-pink-200);
  --footer-btn-hover: var(--maroon-500);
  // Shared Input
  --input-background: var(--zinc-800);
  --input-color: var(--white);
  --input-focus: var(--soft-pink-200);
  --input-placeholder-color: var(--zinc-400);

  --input-btn-background: var(--soft-pink-300);
  --input-btn-color: var(--zinc-800);
  --input-btn-hover: var(--soft-pink-400);
  // Not-Found-Product
  --not-found-Product-color: var(--zinc-400);
  // Not-Found
  --not-found-title-color: var(--soft-pink-200);
  --not-found-p-color: var(--zinc-400);
  // Scrollbar
  --scrollbar-width: 0.625rem;
  --scrollbar-height: 0.625rem;
  --scrollbar-track-color: var(--zinc-800);
  --scrollbar-thumb-color: var(--soft-pink-200);
  --scrollbar-thumb-hover-color: var(--soft-pink-300);

  // Home Components
  // Categories
  --card-category-background: var(--zinc-700);
  --icon-category-background: var(--soft-pink-200);
  --card-title-category-color: var(--soft-pink-200);
  --card-p-category-color: var(--zinc-300);
  // BTN-Shared
  --btn-shared-color: var(--zinc-800);
  --btn-shared-i-color: var(--zinc-800);
  --btn-shared-background: var(--soft-pink-200);
  --btn-shared-background-hover: var(--soft-pink-300);
  // Gift
  --h2-color-gift: var(--maroon-600);
  --h2-background-gift: var(--maroon-50);
  --h1-color-gift: var(--white);
  --dark-text-gift: var(--white);
  --highlight-color-gift: var(--maroon-600);
  --carousel-i-color-gift: var(--maroon-50);
  --carousel-button-gift-background: var(--maroon-600);
  --carousel-button-gift-hover: var(--maroon-500);
  --carousel-indicator-button-gift-color: var(--maroon-50);
  --carousel-indicator-button-gift-active: var(--maroon-600);
  --carousel-indicator-button-gift-hover: var(--maroon-500);
  --carousel-button-gift-hover: var(--maroon-500);
  // Our Services
  --our-services-color: var(--zinc-700);
  --our-services-background: var(--soft-pink-200);
  --our-services-icon-background: var(--soft-pink-200);
  --our-services-icon-color: var(--zinc-800);
  --our-services-title-color: var(--soft-pink-200);
  --our-services-p-color: var(--zinc-400);
  // Best Sellers
  --title-best-sellers-color: var(--maroon-400);
  --highlight-best-sellers-color: var(--soft-pink-200);
  --subtitle-best-sellers-color: var(--maroon-400);
  --p-best-sellers-color: var(--zinc-400);
  --carousel-i-color-best-sellers: var(--maroon-700);
  --carousel-button-best-sellers-background: var(--maroon-50);
  --carousel-button-best-sellers-hover: var(--soft-pink-200);
  // Popular Items
  --title-popular-items-color: var(--soft-pink-200);
  --shape-popular-items-background: var(--zinc-700);
  --underline-bar-popular-items-color: var(--soft-pink-500);
  --subtitle-popular-items-color: var(--maroon-700);
  --popular-items-tabs-color: var(--zinc-400);
  --popular-items-tabs-active-color: var(--soft-pink-200);
  --popular-items-tabs-hover-color: var(--soft-pink-200);
  // Card Item
  --card-item-background: var(--zinc-800);
  --title-card-item-color: var(--soft-pink-200);
  --shape-card-item-background: var(--hover-card-shape);
  --shape-i-card-item-background: var(--white);
  --shape-i-card-item-color: var(--maroon-600);
  --shape-i-card-item-hover-color: var(--maroon-50);
  --price-card-item-color: var(--soft-pink-200);
  --rating-card-item-color: var(--yellow);
  --btn-shopping-card-item-background: var(--maroon-500);
  --btn-shopping-card-item-hover-background: var(--maroon-600);
  --btn-shopping-card-item-color: var(--white);
  // About Us
  --title-about-us-color: var(--maroon-400);
  --subtitle-about-us-color: var(--soft-pink-200);
  --highlight-about-us-color: var(--maroon-400);
  --p-about-us-color: var(--zinc-400);
  --checker-about-us-color: var(--soft-pink-400);
  --checker-p-about-us-color: var(--zinc-50);
  --border-img-about-us-color: var(--soft-pink-400);
  // Gallery
  --title-gallery-color: var(--maroon-400);
  --subtitle-gallery-color: var(--soft-pink-200);
  --shape-gallery-background: var(--zinc-700);
  --underline-bar-gallery-color: var(--soft-pink-500);
  // Testimonials
  --testimonials-background: var(--zinc-700);
  --testimonials-title-color: var(--zinc-800);
  --testimonials-subtitle-color: var(--zinc-800);
  --testimonials-p-color: var(--zinc-800);
  --testimonials-card-background: var(--white);
  --testimonials-img-background: var(--soft-pink-400);
  --testimonials-rating-color: var(--yellow);
  --testimonials-carousel-button-background: var(--maroon-50);
  --testimonials-carousel-button-hover: var(--soft-pink-200);
  --testimonials-carousel-button-color: var(--maroon-700);
  --testimonials-carousel-indicator-button-color: var(--soft-pink-300);
  --testimonials-carousel-indicator-button-active: var(--soft-pink-500);
  --testimonials-carousel-indicator-button-hover: var(--soft-pink-500);
  // Trusted By
  --trusted-by-background: var(--zinc-700);
  --trusted-by-title-color: var(--soft-pink-200);
  --trusted-by-highlight-color: var(--maroon-400);
  --trusted-by-underline-color: var(--soft-pink-500);

  // All-Categories Components
  // Card Filters
  --bg-card-filter: var(--zinc-700);
  --color-title-card-filter: var(--zinc-50);
  --color-card-filter: var(--zinc-50);
  --checked-filter: var(--soft-pink-300);
  --check-border-filter: var(--zinc-50);
  --check-icon-border-filter: var(--white);
  // Btn-Clear-Filters
  --btn-clear-filters-color: var(--soft-pink-300);
  --btn-clear-filters-hover: var(--soft-pink-400);
  // Btn-SideBar-Filters
  --btn-clear-filters-color-icon: var(--maroon-50);
  --btn-SideBar-filters-color: var(--maroon-500);
  --btn-SideBar-filters-hover: var(--maroon-600);
  --btn-SideBar-filters-color-icon: var(--maroon-50);
  --btn-close-SideBar-color: var(--zinc-50);
  --btn-close-SideBar-border: var(--soft-pink-200);
  --btn-close-SideBar-hover: var(--soft-pink-200);
  // Price Filter
  --text-price-rating: var(--soft-pink-200);
  --p-slider-background: var(--zinc-50);
  --p-slider-range-color: var(--soft-pink-300);
  --point-slider-color: var(--soft-pink-300);
  --point-slider-hover: var(--soft-pink-400);
  // Ratings-filter
  --star-color: var(--yellow);

  // Auth
  // Separator
  --auth-separator-up: var(--dark-separator-up);
  --auth-separator-down: var(--dark-separator-down);
  // Login
  --auth-title: var(--soft-pink-300);
  --forgetPass-anchor: var(--soft-pink-300);
  --register-anchor: var(--zinc-50);
  --register-span-anchor: var(--soft-pink-300);
  // Forget pass
  --forget-pass-title: var(--zinc-50);
  // Verify OTP
  --edit: var(--blue-400);

  --resend-code-color: var(--soft-pink-300);
  --disable-resend-code-color: var(--zinc-50);
  // Auth-Button
  --form-button-bg: var(--soft-pink-300);
  --form-button-disabled: var(--soft-pink-600);
  --form-button-hover: var(--soft-pink-400);
  --form-button-color: var(--zinc-800);
  // Custom Input
  --input-color: var(--zinc-700);
  --input-text-color: var(--white);
  --input-placeholder-text-color: var(--zinc-400);
  --label-color: var(--white);
  --input-border-color: var(--zinc-600);
  --selected-color-input: var(--white);
  --border-active-color: var(--soft-pink-600);
  // Notification-Toast
  --toast-error-bg: var(--maroon-500);
  --toast-error-color: var(--zinc-100);
  --toast-error-i-color: var(--zinc-50);

  --toast-success-bg: var(--emerald-300);
  --toast-success-color: var(--zinc-800);
  --toast-success-i-color: var(--zinc-700);
  --toast-btn-close-color: var(--zinc-600);

  //details
  //1- reviews
  --details-header-color: var(--zinc-50);
  --review-desc: var(--zinc-300);
  --details-desc: var(--zinc-400);
  --input-bg: var(--zinc-600);

  --preview-bg: var(--zinc-600);
  --preview-color: var(--white);

  // PrimeNg Button
  --p-button-primary-background: var(--soft-pink-500) !important;
  --p-button-primary-hover-border-color: var(--soft-pink-500) !important;
  --p-button-primary-border-color: var(--soft-pink-500) !important;
  --p-button-primary-hover-background: var(--soft-pink-400) !important;
  --p-button-padding-x: 1rem !important;
  --p-button-padding-y: 0.625rem !important;
  // stepper
  --p-stepper-separator-active-background: var(--soft-pink-500) !important;
  --p-stepper-step-gap: 0rem !important;
  --p-stepper-step-header-gap: 0rem !important;
  --p-stepper-step-padding: 0rem !important;
  --p-stepper-step-number-active-color: var(--white) !important;
  --p-stepper-step-number-active-background: var(--soft-pink-500) !important;
  --p-stepper-step-number-active-border-color: var(--soft-pink-500) !important;
  --p-stepper-separator-size: 0.375rem !important;
  // Address item
  --address-name:var(--soft-pink-500);
  --address-name-background:var(--zinc-800);
  --address-body:var(--white);
  --loading-color:var(--soft-pink-500);
  // Delete dialog
  --dialog-p:var(--zinc-50);
  --dialog-out-shadow:var(--soft-pink-600);
  --dialog-icon:var(--soft-pink-100);


  //Order Flow
  //Summary
  --summary-background-color: var(--white);
  --summary-title-color: var(--white);
  --total-row-color: var(--zinc-800);
  --summary-button-color: var(--soft-pink-200);
  --summary-button-hover: var(--soft-pink-300);
  --summary-button-text-color: var(--zinc-800);
  --coupon-border-color: var(--soft-pink-200);



   //Orders
  --order-title-color: var(--white);
  --order-header-bg: var(--soft-pink-300);
  --order-header-color: var(--zinc-700);
  --order-total-color:var(--zinc-100);
  --green-badge-bg: var(--emerald-500);
  --blue-badge-bg:var(--blue-700);
  --red-badge-bg:var(--red-600);
  --badge-color: var(--white);
  --order-items-bg: var(--zinc-800);
  --payment-color: var(--zinc-300);
  --order-item-bg: var(--zinc-600);
  --order-items-color:var(--zinc-100);
  --order-item-title: var(--soft-pink-400);
  --quantity-color: var(--soft-pink-400);
  --order-ratings: var(--blue-700);
  --show-btn: var(--soft-pink-300);
  --rating-star: var(--yellow);
   --fade-mask-base: 18, 18, 18; 


}
