#bestseller-slider {
  /* Add spacing between cards */
  .carousel-card-wrapper {
    padding: 0 0.5rem;
  }

  /* Remove indicator dots */
  .custom-carousel .p-carousel-indicators {
    display: none !important;
  }

  .p-ripple.p-button.p-component.custom-best-next {
    position: absolute;
    top: 25%;
    background-color: var(--carousel-button-best-sellers-background);
    border-radius: 100%;
    z-index: 5;
    transition: all 1s ease !important;
    &:hover {
      background-color: var(--carousel-button-best-sellers-hover);
    }
  }
  .p-ripple.p-button.p-component.custom-best-prev {
    position: absolute;
    top: 25%;
    background-color: var(--carousel-button-best-sellers-background);
    border-radius: 100%;
    z-index: 5;
    transition: all 1s ease !important;
    &:hover {
      background-color: var(--carousel-button-best-sellers-hover);
    }
  }

  .p-ripple.p-button.p-component.custom-best-next {
    left: 94%;

    .carousel-next-icon {
      color: var(--carousel-i-color-best-sellers);
    }
  }

  .p-ripple.p-button.p-component.custom-best-prev {
    left: 1.5%;

    .carousel-prev-icon {
      color: var(--carousel-i-color-best-sellers);
    }
  }

  // RTL direction styling

  :host-context([dir="rtl"]) .header {
    text-align: right !important;
  }

  @media (min-width: 768px) and (max-width: 52.5rem) {
    ::ng-deep .p-carousel .p-carousel-item {
      width: 50% !important;
      flex: 0 0 auto !important;
    }
  }
}
