:host ::ng-deep .card .ng-star-inserted .p-menu-overlay.ng-star-inserted.ng-trigger {
  top: 100% !important;
  right: 0% !important;
  left: 0% !important;
}
:host ::ng-deep .p-menu-overlay {
  transform: translateX(-80%) !important;
}
:host ::ng-deep .pi-trash,
:host ::ng-deep .pi-trash ~ .p-menu-item-label {
  color: #dc2626 !important;
}
:host ::ng-deep .pi-pencil,
:host ::ng-deep .pi-pencil ~ .p-menu-item-label {
  color: #155dfc !important;
}
:host ::ng-deep .p-datatable-table-container {
  overflow-x: hidden !important;
  overflow: visible !important;
}

.lowQty {
  color: #dc2626;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hide-md {
    display: none;
  }
}
