<div class="card">
    @if (data().length > 0) {
          <p-table [value]="data()">
              <ng-template #header>
                  <tr>
                    @for(record of records(); track $index) {
                      <th [class]="{
                        'hide-md': record === 'sales' || record === 'price' || record === 'ratings'
                      }" class="capitalize">

                      @let colName = record === 'productsCount'?'products':record.toUpperCase();
                        {{ `TABLE.${colName}` | translate }}
                      </th>
                    }
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template #body let-item>
                  <tr>
                      @for(record of records(); track $index) {
                        @if (record === "products") {
                          <td>{{ getDisplayValue(item, record) }}</td>
                        }
                        @else if (record === "name") {
                          <td>{{ (getDisplayValue(item, record) ?? '').split(" ").slice(0,2).join(" ") }}</td>
                        }
                        @else if (record === "stock") {
                          @let stock = (item['quantity'] || 0) - (item['sold'] || 0);
                          <td [class.lowQty]="stock < 10">{{ stock }}</td>
                        }
                        @else if (record === "sales") {
                          <td class="hide-md">{{ item['sold'] || 0 }}</td>
                        }
                        @else if (record === "ratings") {
                          <td class="hide-md">{{ item['rateAvg'] || 0 }}/5 ({{ item['rateCount'] || 0 }})</td>
                        }
                        @else if (record === "price") {
                          <td class="hide-md">{{ getDisplayValue(item, record) }} EGP</td>
                        }
                        @else {
                          <td>{{ getDisplayValue(item, record) }}</td>
                        }
                      }
                    <td>
                        <div id="operations">
                          <div class="in-large hidden lg:flex gap-3 justify-content-end">
                            <app-button
                              [bgColor]="'#0063D01A'"
                              [borderRadius]="'border-round-md'"
                              [icon]="'pi pi-pencil'"
                              [textColor]="'#155DFC'"
                              [padding]="'p-1 px-2 '"
                              [transition]="'0.3s'"
                              text="{{'ACTIONS.EDIT' | translate}}"
                              (click)="onEdit(item)"
                            ></app-button>
                            <app-button
                              [bgColor]="'#FF00001A'"
                              [borderRadius]="'border-round-md'"
                              [icon]="'pi pi-trash'"
                              [textColor]="'#DC2626'"
                              [padding]="'p-1 px-2 '"
                              [transition]="'0.3s'"
                              text="{{'ACTIONS.REMOVE' | translate}}"
                              (click)="confirmDelete(item)"
                            ></app-button>
                          </div>
                          <div class="in-small flex lg:hidden justify-content-end">
                            <div class="card flex justify-content-center relative">
                              <p-button (click)="onMenuClick($event, item)" icon="pi pi-ellipsis-v" />
                              <p-menu #menu [model]="items" [popup]="true" />
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
              </ng-template>
          </p-table>
    } @else {
        <p-table [value]="[{},{},{},{},{},{},{},{}]" responsiveLayout="scroll">
          <ng-template #header>
              <tr>
                  @for(record of records(); track $index) {
                    <th>{{ record }}</th>
                  }
                  <th></th>
              </tr>
          </ng-template>
          <ng-template #body let-product>
                <tr>
            @for(record of records(); track $index) {
              <td>
                <p-skeleton width="100%" height="1.5rem"></p-skeleton>
              </td>
            }
            <td class="flex gap-3 justify-content-end">
              <p-skeleton width="100%" height="1.5rem"></p-skeleton>
            </td>
          </tr>
          </ng-template>
        </p-table>
    }
</div>

<!-- Your custom confirm dialog -->
<lib-confirm-dialog
  [visible]="showConfirmDialog"
  [message]="'Are you sure you want to delete this ' + entityType() + '?'"
  [subMessage]="'This action cannot be undone.'"
  [cancelLabel]="'Cancel'"
  [confirmLabel]="'Delete'"
  (confirmed)="onDialogConfirmed($event)"
></lib-confirm-dialog>
