button {
  width: 2.1875rem;
  height: 1.5625rem;
  border-radius: 100%;
  font-family: var(--font-family-1);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.8rem;
  background: none;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    color: var(--maroon-500);
  }

  &[dir="rtl"] {
    font-family: var(--font-family-ar);
  }

  @media all and (min-width: 48rem) {
    width: 2.8125rem;
    height: 2.1875rem;
  }
}
