<app-categories [@fadeTransition]="translationService.fadeState()" />
<app-gifts [@fadeTransition]="translationService.fadeState()" />
<app-our-services [@fadeTransition]="translationService.fadeState()" />
<app-best-seller [@fadeTransition]="translationService.fadeState()" />
<app-popular-items [@fadeTransition]="translationService.fadeState()" />
<app-about-us [@fadeTransition]="translationService.fadeState()" />
<app-gallery [@fadeTransition]="translationService.fadeState()" />
<app-testimonials [@fadeTransition]="translationService.fadeState()" />
<app-trusted-by [@fadeTransition]="translationService.fadeState()" />
