.no-data-available-container {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-data-available-wrapper {
  width: 240px;
  height: 240px;
  background-image: url("/images/no-product-available.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.5rem;
}

.no-data-available-text {
  color: var(--not-found-Product-color);
  font-family: var(--font-family-1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 100%;
  max-width: 500px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .no-data-available-container {
    flex-direction: column;
  }

  .no-data-available-text {
    font-size: 0.75rem;
  }
}
