.separator {
    img {
        display: block;
        width: 17.5rem;
        height: 2.8125rem;
    }
}

// span{
//     background: linear-gradient(to bottom right,#f32170, #ff6b08,#cf23cf, #eedd44) ;
//     -webkit-text-fill-color: transparent;
//     -webkit-background-clip: text;
// }
