<p-stepper [value]="1" class="basis-[50rem]">
  <p-step-list>
    @for (step of steps; track $index) {
    <p-step [value]="step.value"></p-step>
    }
  </p-step-list>
  <p-step-panels>
    @for (item of steps; track $index) {
    <p-step-panel [value]="item.value">
      <ng-template #content let-activateCallback="activateCallback">
        {{ item.component }}
        <div class="w-full">
          @if ($index===0) {
          <p-button
            label="Next"
            icon="pi pi-arrow-right"
            iconPos="right"
            (onClick)="activateCallback(item.value + 1)"
            styleClass="w-full"
          />
          }@else if($index===steps.length-1){
          <p-button
            label="Back"
            icon="pi pi-arrow-left"
            (onClick)="activateCallback(item.value - 1)"
            styleClass="w-full"
          />

          }@else {

          <div class="flex flex-row justify-content-between">
            <div>
              <p-button
                label="Back"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(item.value - 1)"
              >
              </p-button>
            </div>

            <div>
              <p-button
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(item.value + 1)"
              >
              </p-button>
            </div>
          </div>

          }
        </div>
      </ng-template>
    </p-step-panel>
    }
  </p-step-panels>
</p-stepper>
