.order-chart {
  font-family: var(--font-family-1);
  color: var(--main-text);
  .title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    color: var(--p-table-header-color);
    @media all and (min-width: 48rem) {
      text-align: center;
    }
    @media all and (min-width: 62rem) {
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
  .chart-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 62rem) {
      flex-direction: column;
      align-items: normal;
    }
  }
  .o-chart {
    width: 8.75rem !important;
    height: 8.75rem !important;
    margin: auto;
    @media all and (min-width: 62rem) {
      width: 9.6875rem;
      height: 9.6875rem !important;
    }
    @media all and (min-width: 65rem) {
      width: 10.625rem;
      height: 10.625rem !important;
    }
  }

  .details {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.875rem 0;
      .lable {
        display: flex;
        justify-content: start;
        align-items: center;
        .color-id {
          width: 0.625rem;
          height: 0.625rem;
          border-radius: 100%;
          margin-right: 0.3125rem;
        }
        .lable-p {
          font-weight: 600;
          font-size: 0.75rem;
          line-height: 100%;
          letter-spacing: 0%;
          margin: 0 0.3125rem 0 0;
          @media all and (min-width: 48rem) {
            margin: 0 0.9375rem 0 0;
          }
          @media all and (min-width: 62rem) {
            margin: 0 0 0 0;
          }
        }
      }
      .value {
        font-weight: 700;
        font-style: Bold;
        font-size: 0.75rem;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
      }
    }
  }
}

:host-context([dir="rtl"]) .row {
  flex-direction: row-reverse;
  .lable {
    flex-direction: row-reverse;
  }
}
