<app-auth [@fadeTransition]="translationService.fadeState()" [process]="'register'" [title]="'auth.register.h1'"
   [button]="'auth.register.button'" [heading3]="'auth.register.h3'" [heading3span]="'auth.register.span'">
   <div class="flex-col ">
      <input type="text" class="block w-full">
      <input type="text" class="block w-full">
   </div>
</app-auth>

<!-- <app-auth [@fadeTransition]="translationService.fadeState()" >
   <section>
      <h1>{{ 'auth.register.h1' |translate }}</h1>
      <div id="form-wrapper">
         <form>
            <div class="flex-col ">
               <input type="text" class="block w-full">
               <input type="text" class="block w-full">
            </div>
            <app-form-button [text]="'auth.register.button' |translate"></app-form-button>
         </form>
      </div>
      <h3 [routerLink]="'/login'" class="cursor-pointer">{{'auth.register.h3' | translate}} <span>{{'auth.register.span' |translate}}</span> </h3>
   </section>
</app-auth> -->