<app-auth
  [@fadeTransition]="translationService.fadeState()"
  [process]="'forgetPass'"
  [title]="getDetails().title"
  [titleParagraph]="getDetails().titleParagraph"
  [paragraphSpan]="forgetFlow() === 'verify' ? getDetails().paragraphSpan! : ''"
  [heading5]="forgetFlow() === 'verify' ? getDetails().heading5! : ''"
  [heading3]="getDetails().heading3"
  [heading3span]="getDetails().heading3span"
  [goBackToForget]="goBackToForget"
>
  <div class="reset-password-flow">
    @if (forgetFlow() === 'forget') {
    <app-forget-password (emailSubmitted)="onEmailSubmitted($event)" />
    } @if (forgetFlow() === 'verify') {
    <app-verify-code
      [email]="email()"
      (codeVerified)="onCodeVerified()"
      (goBack)="forgetFlow.set('forget')"
    />
    } @if (forgetFlow() === 'set') {
    <app-set-password
      [email]="email()"
      (passwordReset)="onPasswordReset()"
      (goBack)="forgetFlow.set('verify')"
    />
    }
  </div>
</app-auth>
