.not-found-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
}

/* Error Image */
.not-found-image {
  width: 100%;
  max-width: 28rem;
  object-fit: contain;
}

/* Error Heading */
.not-found-heading {
  color: var(--not-found-title-color);
  font-family: var(--font-family-1);
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 1rem;
}

/* Error Message */
.not-found-message {
  color: var(--not-found-p-color);
  font-family: var(--font-family-2);
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  max-width: 40rem;
  padding: 0 1rem 2rem;
}


/* Responsive Design */
@media (min-width: 300px) and (max-width: 767px) {
  .not-found-heading {
    font-size: 1.1rem;
  }

  .not-found-message {
    font-size: 0.75rem;
  }
}
