<div class="grid mt-8">
  <!-- Header Section -->
  <div class=" header text-left col-12 md:col-6 lg:col-4">
    <span class="text-base mb-5 font-bold premium">PREMIUM GIFTS</span>
    <h2 class=" gifts text-4xl font-bold mb-2"><span class="dark">Best</span> Seller Gifts <span class="dark">and
        Products</span></h2>


    <p class="gray mb-4 gifts">
      Recusandae tempora aut laborum molestias veniam. A commodi sequi accusantium ullam cupiditate.
      Neque quidem qui et autem dolor dicta necessitatibus ut ad.
    </p>

    <app-button [text]="'Explore More'" [isIcon]="true" [borderRadius]="'btn-bestseller-radius'"
      [padding]="'btn-bestseller-padding'" [transition]="'btn-bestseller-transition'" />

  </div>

  <!-- Carousel/Product Grid Section -->
  <div class="product-carousel col-12 md:col-6 lg:col-8">


    <p-carousel [value]="bestSellers()" [numVisible]="3" [numScroll]="1" [circular]="true"
      [responsiveOptions]="responsiveOptions()" [showIndicators]="false" class="custom-carousel">
      <ng-template let-product pTemplate="item">

        @if (showSkeleton()) {
        @for (item of skeletonItems(); track $index) {
        <div class="carousel-card-wrapper">
          <div class="image-wrapper">
            <p-skeleton width="100%" height="200px"></p-skeleton>
          </div>
          <div class="flex flex-column p-3 mt-3 flex-grow">
            <p-skeleton width="50%" height="1.5rem" class="mb-2"></p-skeleton>
            <div class="flex align-items-center justify-content-between pt-2">
              <div class="flex flex-column">
                <p-skeleton width="6rem" height="1.5rem" class="mb-2"></p-skeleton>
                <p-skeleton width="4rem" height="1.25rem"></p-skeleton>
              </div>
              <p-skeleton shape="circle" size="2.5rem"></p-skeleton>
            </div>
          </div>
        </div>
        }
        }
        @else {
        <div class="carousel-card-wrapper">
          <app-card-item [productInfo]="product" />
        </div>
        }

      </ng-template>
    </p-carousel>



  </div>
</div>
