.premium {
  font-family: var(--font-family-2);
}

.gifts {
  font-family: var(--font-family-1);
}

.dark {
  color: var(--sub-title-color);
}

.gray {
  color: var(--p-secondary);
}

.header {
  color: var(--secondary-title) !important;
}

.product-carousel {
  position: relative;
}

/* Add spacing between cards */
.carousel-card-wrapper {
  padding: 0 0.5rem;
}

/* Remove indicator dots */
.custom-carousel .p-carousel-indicators {
  display: none !important;
}

:host ::ng-deep .p-ripple.p-button.p-component.custom-best-next {
  position: absolute;
  top: 25%;
  background-color: var(--btn-carousel-background);
  border-radius: 100%;
  z-index: 5;
  transition: all 1s ease !important;
  &:hover {
    background-color: var(--btn-carousel-background-hover);
  }
}
:host ::ng-deep .p-ripple.p-button.p-component.custom-best-prev {
  position: absolute;
  top: 25%;
  background-color: var(--btn-carousel-background);
  border-radius: 100%;
  z-index: 5;
  transition: all 1s ease !important;
  &:hover {
    background-color: var(--btn-carousel-background-hover);
  }
}

::ng-deep .p-ripple.p-button.p-component.custom-best-next {
  left: 94%;

  .carousel-next-icon {
    color: var(--btn-carousel-color);
  }
}

::ng-deep .p-ripple.p-button.p-component.custom-best-prev {
  left: 1.5%;

  .carousel-prev-icon {
    color: var(--btn-carousel-color);
  }
}

// RTL direction styling

:host-context([dir="rtl"]) .header {
  text-align: right !important;
}
