.premium {
  font-family: var(--font-family-2);
}

.gifts {
  font-family: var(--font-family-1);
}

.dark {
  color: var(--highlight-best-sellers-color);
}

.gray {
  color: var(--p-best-sellers-color);
}

.header {
  color: var(--title-best-sellers-color) !important;
}

.product-carousel {
  position: relative;
}
