<section [@fadeTransition]="translationService.fadeState()" class="grid mt-8" aria-labelledby="premium-gifts-heading">
  <!-- Header Section -->
  <div class="header text-left col-12 md:col-6 lg:col-4">
    <span class="text-base mb-5 font-bold premium">{{
      "home.bestSeller.left.span" | translate
      }}</span>
    <h2 id="premium-gifts-heading" class="gifts text-4xl font-bold mb-2">
      <span class="dark">{{ "home.bestSeller.left.heading2span1" | translate }}</span>
      {{ "home.bestSeller.left.heading2" | translate }}
      <span class="dark">{{ "home.bestSeller.left.heading2span2" | translate }}</span>
    </h2>
    <p class="gray mb-4 gifts">
      {{ "home.bestSeller.left.paragraph" | translate }}
    </p>

    <app-button [text]="'home.bestSeller.left.btn' | translate" [icon]="'pi pi-arrow-right arrowicon'"
      [bgColor]="'var(--btn-shared-background)'" [textColor]="'var(--btn-shared-color)'"
      [borderRadius]="'btn-bestseller-radius'" [padding]="'btn-bestseller-padding'"
      [transition]="'btn-bestseller-transition'" aria-label="Explore more best seller gifts and products" />
  </div>
  <!-- Carousel/Product Grid Section -->
  <div class="product-carousel col-12 md:col-6 lg:col-8">
    @defer (on timer(1000)) {
    <app-bestseller-slider [numVisible]="3" [responsiveOptions]="responsiveOptions" [skeletonCount]="3"
      ariaLabel="Best seller products carousel - variant" />
    }
  </div>
</section>