.premium {
  font-family: var(--font-family-2);
}

.gifts {
  font-family: var(--font-family-1);
}

.dark {
  color: var(--dark-blue);
}

.gray {
  color: var(--slate-gray);
}

.header {
  color: var(--persian-rose) !important;
}


.product-carousel {
  position: relative;
}

/* Add spacing between cards */
.carousel-card-wrapper {
  padding: 0 0.5rem;
}

/* Remove indicator dots */
.custom-carousel .p-carousel-indicators {
  display: none !important;
}

:host ::ng-deep .p-ripple.p-button.p-component.custom-best-next{
  position: absolute;
  top: 25%;
  background-color: var(--persian-rose);
  border-radius: 100%;
  z-index: 5;
  transition: all 1s ease !important;
  &:hover{
      background-color: var(--hover-persian-rose);
  }
}
:host ::ng-deep .p-ripple.p-button.p-component.custom-best-prev {
  position: absolute;
  top: 25%;
  background-color: var(--persian-rose);
  border-radius: 100%;
  z-index: 5;
  transition: all 1s ease !important;
  &:hover{
      background-color: var(--hover-persian-rose);
  }
}

::ng-deep .p-ripple.p-button.p-component.custom-best-next {
  left: 94%;

  .carousel-next-icon {
    color: var(--white);
  }
}

::ng-deep .p-ripple.p-button.p-component.custom-best-prev {
  left: 1.5%;

  .carousel-prev-icon {
    color: var(--white);
  }
}

// RTL direction styling

:host-context([dir="rtl"]) .header{
  text-align: right !important;
}

// Dark mode styling

.dark-mode {

.dark {
  color: var(--soft-pink-200);
}

.gray {
  color: var(--zinc-400);
}

.header {
  color: var(--maroon-400) !important;
}




:host{
  ::ng-deep .p-ripple.p-button.p-component {
    &.custom-best-next, &.custom-best-prev {
  background-color: var(--maroon-500);
  color: var(--maroon-50);
  &:hover{
      background-color: var(--maroon-600);
  }
}
}
}}



