.title{
     font-family: "Inter", sans-serif;
}


.writing::after{
     content: '';
    width: 160px;
    height: 2.5px;
    background-color:#F82BA9;
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 5;
}



