<div class="surface-0 py-6 md:py-8 width-full fontFamily1">
  <div class="content border-round-3xl mx-auto px-4 py-5 light-pink-bg">
    <!-- Title -->
    <div class="text-center mb-6">
      <h2 class="dark-blue-text font-bold text-4xl"><span class="relative writing">Trusted By</span> Over <span class="persian-rose-text">4.5k+</span> Companies</h2>
    </div>

    <!-- Company Logos -->
    <div class="justify-content-evenly flex-wrap flex gap-4">

       @for (logo of companyLogos; track logo) {
        <div>
          <img [src]="logo" alt="Company Logo" />
        </div>
      }
    </div>


</div>
