section {
  height: 100vh !important;
  box-sizing: border-box;
}

#auth {
  font-family: var(--font-family-1);
  padding: 3.125rem 3.75rem;
  box-sizing: border-box;

  @media all and (max-width: 18.75rem) {
    padding: 3.125rem 1.25rem;
  }

  @media all and (min-width: 18.75rem) {
    padding: 3.125rem;
  }

  @media all and (min-width: 31.25rem) {
    padding: 3.125rem 6.25rem;
  }

  @media all and (min-width: 48rem) {
    padding: 3.125rem 9.1875rem;
  }

  @media all and (62rem <= width <= 81.25rem) {
    padding: 3.125rem 80px;
  }

  @media all and (min-width: 81.25rem) {
    padding: 3.125rem 9.1875rem;
  }

  #lang-toggle {
    padding-bottom: 1.5625rem;
  }

  #form-wrapper {
    border-top: 0.0625rem solid var(--zinc-300);
    border-bottom: 0.0625rem solid var(--zinc-300);
    padding: 1.5rem 0 0;
  }

  // WELCOME TITLE
  h1 {
    font-weight: 400;
    text-align: center;
    color: var(--auth-title);
    margin-top: 2.5rem;

    @media all and (max-width: 31.25rem) {
      font-size: 1.25rem;
    }
    @media all and (min-width: 31.25rem) {
      font-size: 3rem;
    }
  }

  h1.forget {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    color: var(--forget-pass-title);
    margin-bottom: 0;
  }

  p.forget {
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    color: var(--forget-pass-title);
    margin-top: 0;

    span {
      font-weight: 500;
      font-size: 1rem;
      color: var(--edit);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  // CREATE ACCOUNT
  h3 {
    font-weight: 500;
    text-align: center;
    color: var(--register-anchor);
    margin-bottom: 2.5rem;

    span {
      font-weight: 700;
      color: var(--register-span-anchor);
    }

    @media all and (max-width: 31.25rem) {
      font-size: 0.625rem;
    }
    @media all and (min-width: 31.25rem) {
      font-size: 0.875rem;
    }
  }
}

:host-context([dir="rtl"]) h1.forget,
:host-context([dir="rtl"]) p.forget {
  text-align: right !important;
}

#photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
