// SCSS Breakpoint variables
$breakpoint-mobile: 780px;
$breakpoint-small: 620px;
:root {
  // Fonts
  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Roboto", sans-serif;
  --font-family-3: "Mulish", sans-serif;
  --font-family-4: "Sarabun", sans-serif;
  --font-family-5: "Pinyon Script", sans-serif;
  --font-family-ar: "Tajawal", sans-serif;

  &[dir="rtl"] {
    --font-family-1: var(--font-family-ar);
    --font-family-2: var(--font-family-ar);
    --font-family-3: var(--font-family-ar);
    --font-family-4: var(--font-family-ar);
    --font-family-5: var(--font-family-ar);
  }

  --separator-up: url("/images/auth/separatorUP.svg");
  --separator-down: url("/images/auth/separatorDown.svg");

  --dark-separator-up: url("/images/auth/darkSeparatorUP.svg");
  --dark-separator-down: url("/images/auth/darkSeparatorDown.svg");

  // Light theme colors
  --white: #ffffff;
  --black: #000000;
  --shadow-black: #0000000d;
  --shadow-black-opacity: #0000001a;

  --shadow-error: #ffffff4d;
  --shadow-success: #00000026;

  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-400: #a1a1aa;
  --zinc-300: #d4d4d8;
  --zinc-200: #e4e4e7;
  --zinc-100: #f4f4f5;
  --zinc-50: #fafafa;
  --maroon-800: #501419;
  --maroon-700: #741c21;
  --maroon-600: #a6252a;
  --maroon-500: #cd2e33;
  --maroon-400: #d75458;
  --maroon-50: #fbeaea;
  --red-600: #dc2626;
  --soft-pink-600: #e65073;
  --soft-pink-500: #ff668b;
  --soft-pink-400: #ff85a2;
  --soft-pink-300: #ffa3b9;
  --soft-pink-200: #ffc2d0;
  --soft-pink-100: #ffe0e7;
  --soft-pink-50: #fff1f5;
  --hover-card-shape: #e6507380;

  --emerald-50: #ecfdf5;
  --emerald-300: #5ee9b5;
  --emerald-500: #00bc7d;
  --emerald-700: #007a55;

  --blue-400: #50a2ff;
  --blue-600: #155dfc;
  --blue-700: #1447e6;

  --gray-200: #e9ecef;
  --gray-900: #2e2e30;
  --gray-950: #323639;

  --gray-900-01: #bfbfc50d;
  --gray-900-11: #b1b1b426;
  --gray-900-05: #2e2e300d;
  --gray-900-15: #2e2e3026;

  --yellow: #fba707;

  // Body
  --body-color: var(--white);
}

// Dark theme overrides
.dark-mode {
  // Body
  --body-color: var(--zinc-800);
}
