// @use "/apps/rose/src/app/shared/styles/variables" as *;
.product-review {
  font-family: var(--font-family-1);
  .product-review-header {
    border-bottom: 1px solid #e4e4e7;
    .general-rating {
      h3 {
        font-size: 20px;
        color: var(--details-header-color);
      }
      .rating-average {
        span.rateVal {
          font-size: 24px;
          color: var(--details-header-color);
        }
        .numOfRating {
          color: #71717a;
        }
      }
    }
  }
}
:host ::ng-deep {
  .p-rating-option-active .p-rating-icon {
    color: #ffc107;
  }
  .p-rating-icon {
    color: transparent;
    stroke: #ffc107;
  }
}
