<section class="product-review my-5">
  <div class="product-review-header pb-5">
    <div class="p-relative d-inline-block details-title-wrapper">
      <h2 id="details-heading" class="details-title" itemprop="name">
        {{ "Details.productReviews" | translate }}
      </h2>
      <div class="details-bg-shape" aria-hidden="true"></div>
      <div class="details-underline-bar" aria-hidden="true"></div>
      <meta itemprop="description" content="Browse related products" />
    </div>
    <div class="general-rating">
      <h3 class="mb-2">{{ "Details.generalRating" | translate }}:</h3>
      <div class="rating-value">
        <span class="rating-average mb-3 inline-block capitalize font-semibold">
          <span class="font-bold rateVal"> 4.5 </span>
          <span class="numOfRating">
            ({{ "Details.ratingsCount" | translate : { count: 8 } }})
          </span>
        </span>
        <div class="rating-stars">
          <p-rating
            [(ngModel)]="value"
            [iconOnStyle]="{
                  'color': '#FFD700',
                }"
            [stars]="5"
            [readonly]="true"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="prod-review-content py-5">
    <div class="grid">
      <div class="md:col-6 col-12 sm:border-none md:flex-order-0 flex-order-1">
        <app-review-form></app-review-form>
      </div>
      <div class="md:col-6 col-12">
        <app-review-list></app-review-list>
      </div>
    </div>
  </div>
</section>
