.breadcrumb {
  color: var(--gray-500);
  margin: 0rem 1rem;

  .logo-img {
    width: 3.75rem;
    margin-right: 0.75rem;
  }
  .breadcrumb-item {
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 4px 4px;
    border-radius: 4px;

    &:hover {
      color: var(--aside-button);
    }

    // Don't make the last item (active) hoverable
    &.activeColor {
      cursor: default;

      &:hover {
        background-color: transparent;
        color: var(--aside-button);
      }
    }
  }
}

.activeColor {
  color: var(--aside-button) !important;
}
