<div class="breadcrumb flex">
  <img
    src="images/overview/logo.png"
    alt="mge for logo"
    loading="lazy"
    class="logo-img inline-block md:hidden"
  />

  @for (item of breadCrumb; track $index) {
    @if ($index === breadCrumb.length - 1) {
      <p class="breadcrumb-item active text-xs md:text-base">{{ item.label }}</p>
    } @else {
      <p class="breadcrumb-item text-center text-xs md:text-base" role="button" (click)="openUrl(item.url)">
        {{ item.label }} <i class="pi pi-angle-right"></i>
      </p>
    }
  }
</div>
