@use "../../../styles/functions" as func;

.modal-outer {
  position: absolute;
  z-index: 999999999999;
  inset: 0;
  background-color: #000000cc;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-inner {
    width: func.pxToRem(600);
    min-height: func.pxToRem(500);
    background-color: transparent;
    border-radius: 20px;
    position: relative;

    .search-input input {
      outline: 0;
      display: block;
      padding: func.pxToRem(8);
      border: 0;
      border-bottom: 2px solid var(--white);
      color: var(--white);
      margin: auto;
      width: 90%;
      background-color: transparent;
      font-size: func.pxToRem(30);
      text-transform: capitalize;
      &::placeholder {
        color: inherit;
      }
    }
  }
}

:host ::ng-deep .p-button {
  width: func.pxToRem(35);
  height: func.pxToRem(35);

  background-color: var(--Search-bg) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0 !important;
  .pi-times::before {
    color: var(--Search-color);
  }
  &:hover {
    background-color: var(--Search-hover) !important;
  }
}
